Repository go-gitea/gitea: changes, and which Drone steps are due for each by the changed paths.
All: compliance, testing-pgsql, compliance-docs, testing-mysql, testing-mysql8, testing-mssql, testing-sqlite, testing-e2e, release-latest, docs, docker-linux-amd64-release-version, docker-linux-amd64-release-candidate-version, docker-linux-arm64-dry-run, docker-linux-arm64-release-version, docker-linux-arm64-release-candidate-version, docker-linux-arm64-release, docker-manifest-version, docker-manifest

Path conditions:
  compliance: any file but: docs/**, *.md
  testing-pgsql: any file but: docs/**
  compliance-docs: any of: docs/**, *.md
  testing-mysql: any file but: docs/**
  testing-mysql8: any file but: docs/**
  testing-mssql: any file but: docs/**
  testing-sqlite: any file but: docs/**
  testing-e2e: any file but: docs/**
  release-latest: any file but: docs/**
  docs: any of: docs/**
  docker-linux-amd64-release-version: any file but: docs/**
  docker-linux-amd64-release-candidate-version: any file but: docs/**
  docker-linux-arm64-dry-run: any file but: docs/**
  docker-linux-arm64-release-version: any file but: docs/**
  docker-linux-arm64-release-candidate-version: any file but: docs/**
  docker-linux-arm64-release: any file but: docs/**
  docker-manifest-version: any file but: docs/**
  docker-manifest: any file but: docs/**

Make status check required happy
  .github/workflows/pull-compliance-docsignore.yml
  .github/workflows/pull-db-tests-docsignore.yml
  .github/workflows/pull-docker-dryrun-docsignore.yml
  .github/workflows/pull-e2e-tests-docsignore.yml
Due: compliance, testing-pgsql, testing-mysql, testing-mysql8, testing-mssql, testing-sqlite, testing-e2e, release-latest, docker-linux-amd64-release-version, docker-linux-amd64-release-candidate-version, docker-linux-arm64-dry-run, docker-linux-arm64-release-version, docker-linux-arm64-release-candidate-version, docker-linux-arm64-release, docker-manifest-version, docker-manifest

Remove the parallelizing when loading repo for dashboard (#24705)
  routers/web/repo/repo.go
Due: compliance, testing-pgsql, testing-mysql, testing-mysql8, testing-mssql, testing-sqlite, testing-e2e, release-latest, docker-linux-amd64-release-version, docker-linux-amd64-release-candidate-version, docker-linux-arm64-dry-run, docker-linux-arm64-release-version, docker-linux-arm64-release-candidate-version, docker-linux-arm64-release, docker-manifest-version, docker-manifest

Clean up various avatar dimensions (#24701)
  templates/repo/commits_list_small.tmpl
  templates/repo/issue/view_content.tmpl
  templates/repo/issue/view_content/comments.tmpl
  templates/repo/issue/view_content/pull.tmpl
  templates/shared/issuelist.tmpl
  web_src/css/base.css
  web_src/css/modules/comment.css
  web_src/css/organization.css
  web_src/css/repository.css
  web_src/css/shared/issuelist.css
Due: compliance, testing-pgsql, testing-mysql, testing-mysql8, testing-mssql, testing-sqlite, testing-e2e, release-latest, docker-linux-amd64-release-version, docker-linux-amd64-release-candidate-version, docker-linux-arm64-dry-run, docker-linux-arm64-release-version, docker-linux-arm64-release-candidate-version, docker-linux-arm64-release, docker-manifest-version, docker-manifest

Use explicit storage
  cmd/dump.go
  models/migrations/v1_10/v96.go
  models/migrations/v1_11/v112.go
  models/migrations/v1_11/v115.go
  models/unittest/testdb.go
  modules/setting/actions.go
  modules/setting/attachment.go
  modules/setting/lfs.go
  modules/setting/packages.go
  modules/setting/picture.go
  modules/setting/repository_archive.go
  modules/storage/storage.go
  routers/api/v1/repo/file.go
  routers/install/install.go
  routers/web/repo/attachment.go
  routers/web/repo/download.go
  routers/web/repo/repo.go
  services/lfs/server.go
Due: compliance, testing-pgsql, testing-mysql, testing-mysql8, testing-mssql, testing-sqlite, testing-e2e, release-latest, docker-linux-amd64-release-version, docker-linux-amd64-release-candidate-version, docker-linux-arm64-dry-run, docker-linux-arm64-release-version, docker-linux-arm64-release-candidate-version, docker-linux-arm64-release, docker-manifest-version, docker-manifest

Fix flash of unstyled content in action view page (#24712)
  web_src/js/components/ActionRunStatus.vue
  web_src/js/components/RepoActionView.vue
Due: compliance, testing-pgsql, testing-mysql, testing-mysql8, testing-mssql, testing-sqlite, testing-e2e, release-latest, docker-linux-amd64-release-version, docker-linux-amd64-release-candidate-version, docker-linux-arm64-dry-run, docker-linux-arm64-release-version, docker-linux-arm64-release-candidate-version, docker-linux-arm64-release, docker-manifest-version, docker-manifest

Add Go package registry (#24687)
  custom/conf/app.example.ini
  docs/content/doc/administration/config-cheat-sheet.en-us.md
  docs/content/doc/usage/packages/debian.en-us.md
  docs/content/doc/usage/packages/generic.en-us.md
  docs/content/doc/usage/packages/go.en-us.md
  docs/content/doc/usage/packages/rpm.en-us.md
  models/packages/descriptor.go
  models/packages/package.go
  modules/packages/goproxy/metadata.go
  modules/packages/goproxy/metadata_test.go
  modules/setting/packages.go
  options/locale/locale_en-US.ini
  public/img/svg/gitea-go.svg
  routers/api/packages/api.go
  routers/api/packages/goproxy/goproxy.go
  routers/api/v1/packages/package.go
  services/forms/package_form.go
  services/packages/packages.go
  templates/package/content/go.tmpl
  templates/package/view.tmpl
  templates/swagger/v1_json.tmpl
  tests/integration/api_packages_goproxy_test.go
  web_src/svg/gitea-go.svg
Due: compliance, testing-pgsql, compliance-docs, testing-mysql, testing-mysql8, testing-mssql, testing-sqlite, testing-e2e, release-latest, docs, docker-linux-amd64-release-version, docker-linux-amd64-release-candidate-version, docker-linux-arm64-dry-run, docker-linux-arm64-release-version, docker-linux-arm64-release-candidate-version, docker-linux-arm64-release, docker-manifest-version, docker-manifest

Don't filter action runs based on state (#24711)
  models/actions/run_list.go
  options/locale/locale_en-US.ini
  routers/web/repo/actions/actions.go
  templates/repo/actions/list.tmpl
  templates/repo/actions/openclose.tmpl
  templates/repo/actions/runs_list.tmpl
Due: compliance, testing-pgsql, testing-mysql, testing-mysql8, testing-mssql, testing-sqlite, testing-e2e, release-latest, docker-linux-amd64-release-version, docker-linux-amd64-release-candidate-version, docker-linux-arm64-dry-run, docker-linux-arm64-release-version, docker-linux-arm64-release-candidate-version, docker-linux-arm64-release, docker-manifest-version, docker-manifest

document redis-cluster
  docs/content/doc/administration/config-cheat-sheet.en-us.md
Due: compliance-docs, docs

don't touch default
  docs/content/doc/administration/config-cheat-sheet.en-us.md
Due: compliance-docs, docs

add to app.ini
  custom/conf/app.example.ini
Due: compliance, testing-pgsql, testing-mysql, testing-mysql8, testing-mssql, testing-sqlite, testing-e2e, release-latest, docker-linux-amd64-release-version, docker-linux-amd64-release-candidate-version, docker-linux-arm64-dry-run, docker-linux-arm64-release-version, docker-linux-arm64-release-candidate-version, docker-linux-arm64-release, docker-manifest-version, docker-manifest

Update custom/conf/app.example.ini
  custom/conf/app.example.ini
Due: compliance, testing-pgsql, testing-mysql, testing-mysql8, testing-mssql, testing-sqlite, testing-e2e, release-latest, docker-linux-amd64-release-version, docker-linux-amd64-release-candidate-version, docker-linux-arm64-dry-run, docker-linux-arm64-release-version, docker-linux-arm64-release-candidate-version, docker-linux-arm64-release, docker-manifest-version, docker-manifest

Update docs/content/doc/administration/config-cheat-sheet.en-us.md
  docs/content/doc/administration/config-cheat-sheet.en-us.md
Due: compliance-docs, docs

fix comments
  web_src/js/features/repo-settings.js
Due: compliance, testing-pgsql, testing-mysql, testing-mysql8, testing-mssql, testing-sqlite, testing-e2e, release-latest, docker-linux-amd64-release-version, docker-linux-amd64-release-candidate-version, docker-linux-arm64-dry-run, docker-linux-arm64-release-version, docker-linux-arm64-release-candidate-version, docker-linux-arm64-release, docker-manifest-version, docker-manifest

remove archived repo check
  models/issues/issue.go
Due: compliance, testing-pgsql, testing-mysql, testing-mysql8, testing-mssql, testing-sqlite, testing-e2e, release-latest, docker-linux-amd64-release-version, docker-linux-amd64-release-candidate-version, docker-linux-arm64-dry-run, docker-linux-arm64-release-version, docker-linux-arm64-release-candidate-version, docker-linux-arm64-release, docker-manifest-version, docker-manifest

remove fixtures
  models/fixtures/user.yml
Due: compliance, testing-pgsql, testing-mysql, testing-mysql8, testing-mssql, testing-sqlite, testing-e2e, release-latest, docker-linux-amd64-release-version, docker-linux-amd64-release-candidate-version, docker-linux-arm64-dry-run, docker-linux-arm64-release-version, docker-linux-arm64-release-candidate-version, docker-linux-arm64-release, docker-manifest-version, docker-manifest

Use correct last synced time
  services/mirror/mirror_pull.go
Due: compliance, testing-pgsql, testing-mysql, testing-mysql8, testing-mssql, testing-sqlite, testing-e2e, release-latest, docker-linux-amd64-release-version, docker-linux-amd64-release-candidate-version, docker-linux-arm64-dry-run, docker-linux-arm64-release-version, docker-linux-arm64-release-candidate-version, docker-linux-arm64-release, docker-manifest-version, docker-manifest

Move actions as usage's subdirectory and update comparsion zh-cn version
  docs/content/doc/installation/comparison.zh-cn.md
  docs/content/doc/usage/actions/act-runner.en-us.md
  docs/content/doc/usage/actions/comparison.en-us.md
  docs/content/doc/usage/actions/design.en-us.md
  docs/content/doc/usage/actions/faq.en-us.md
  docs/content/doc/usage/actions/overview.en-us.md
  docs/content/doc/usage/actions/quickstart.en-us.md
Due: compliance-docs, docs

Document `redis-cluster` explicitly in config (#24717)
  custom/conf/app.example.ini
  docs/content/doc/administration/config-cheat-sheet.en-us.md
Due: compliance, testing-pgsql, compliance-docs, testing-mysql, testing-mysql8, testing-mssql, testing-sqlite, testing-e2e, release-latest, docs, docker-linux-amd64-release-version, docker-linux-amd64-release-candidate-version, docker-linux-arm64-dry-run, docker-linux-arm64-release-version, docker-linux-arm64-release-candidate-version, docker-linux-arm64-release, docker-manifest-version, docker-manifest

fix: use comment
  docs/content/doc/installation/from-binary.en-us.md
  docs/content/doc/installation/from-binary.zh-cn.md
Due: compliance-docs, docs

fix: use gid
  docs/content/doc/installation/from-binary.en-us.md
  docs/content/doc/installation/from-binary.zh-cn.md
Due: compliance-docs, docs

chore: mutilple ways
  docs/content/doc/installation/from-binary.en-us.md
  docs/content/doc/installation/from-binary.zh-cn.md
Due: compliance-docs, docs

fix: system
  docs/content/doc/installation/from-binary.en-us.md
  docs/content/doc/installation/from-binary.zh-cn.md
Due: compliance-docs, docs

delete unnecessary where condition
  models/variable/variable.go
Due: compliance, testing-pgsql, testing-mysql, testing-mysql8, testing-mssql, testing-sqlite, testing-e2e, release-latest, docker-linux-amd64-release-version, docker-linux-amd64-release-candidate-version, docker-linux-arm64-dry-run, docker-linux-arm64-release-version, docker-linux-arm64-release-candidate-version, docker-linux-arm64-release, docker-manifest-version, docker-manifest

Move actions as usage's subdirectory and update comparsion zh-cn version (#24719)
  docs/content/doc/installation/comparison.zh-cn.md
  docs/content/doc/usage/actions/act-runner.en-us.md
  docs/content/doc/usage/actions/comparison.en-us.md
  docs/content/doc/usage/actions/design.en-us.md
  docs/content/doc/usage/actions/faq.en-us.md
  docs/content/doc/usage/actions/overview.en-us.md
  docs/content/doc/usage/actions/quickstart.en-us.md
Due: compliance-docs, docs

delete
  web_src/js/index.js
Due: compliance, testing-pgsql, testing-mysql, testing-mysql8, testing-mssql, testing-sqlite, testing-e2e, release-latest, docker-linux-amd64-release-version, docker-linux-amd64-release-candidate-version, docker-linux-arm64-dry-run, docker-linux-arm64-release-version, docker-linux-arm64-release-candidate-version, docker-linux-arm64-release, docker-manifest-version, docker-manifest

Correctly get issue id
  models/migrate.go
Due: compliance, testing-pgsql, testing-mysql, testing-mysql8, testing-mssql, testing-sqlite, testing-e2e, release-latest, docker-linux-amd64-release-version, docker-linux-amd64-release-candidate-version, docker-linux-arm64-dry-run, docker-linux-arm64-release-version, docker-linux-arm64-release-candidate-version, docker-linux-arm64-release, docker-manifest-version, docker-manifest

Add up and down arrows to selected lookup repositories
  web_src/js/components/DashboardRepoList.vue
Due: compliance, testing-pgsql, testing-mysql, testing-mysql8, testing-mssql, testing-sqlite, testing-e2e, release-latest, docker-linux-amd64-release-version, docker-linux-amd64-release-candidate-version, docker-linux-arm64-dry-run, docker-linux-arm64-release-version, docker-linux-arm64-release-candidate-version, docker-linux-arm64-release, docker-manifest-version, docker-manifest

Do requested changes
  custom/conf/app.example.ini
  routers/web/repo/issue.go
  templates/repo/issue/list.tmpl
  templates/repo/issue/view_content/sidebar.tmpl
Due: compliance, testing-pgsql, testing-mysql, testing-mysql8, testing-mssql, testing-sqlite, testing-e2e, release-latest, docker-linux-amd64-release-version, docker-linux-amd64-release-candidate-version, docker-linux-arm64-dry-run, docker-linux-arm64-release-version, docker-linux-arm64-release-candidate-version, docker-linux-arm64-release, docker-manifest-version, docker-manifest

Fix lint problem and add right and left arrow for page switch
  web_src/js/components/DashboardRepoList.vue
Due: compliance, testing-pgsql, testing-mysql, testing-mysql8, testing-mssql, testing-sqlite, testing-e2e, release-latest, docker-linux-amd64-release-version, docker-linux-amd64-release-candidate-version, docker-linux-arm64-dry-run, docker-linux-arm64-release-version, docker-linux-arm64-release-candidate-version, docker-linux-arm64-release, docker-manifest-version, docker-manifest

use button-ghost class
  templates/shared/variables/variable_list.tmpl
Due: compliance, testing-pgsql, testing-mysql, testing-mysql8, testing-mssql, testing-sqlite, testing-e2e, release-latest, docker-linux-amd64-release-version, docker-linux-amd64-release-candidate-version, docker-linux-arm64-dry-run, docker-linux-arm64-release-version, docker-linux-arm64-release-candidate-version, docker-linux-arm64-release, docker-manifest-version, docker-manifest

Improve class define
  web_src/js/components/DashboardRepoList.vue
Due: compliance, testing-pgsql, testing-mysql, testing-mysql8, testing-mssql, testing-sqlite, testing-e2e, release-latest, docker-linux-amd64-release-version, docker-linux-amd64-release-candidate-version, docker-linux-arm64-dry-run, docker-linux-arm64-release-version, docker-linux-arm64-release-candidate-version, docker-linux-arm64-release, docker-manifest-version, docker-manifest

Improve up and down arrow key if last item to next page
  web_src/js/components/DashboardRepoList.vue
Due: compliance, testing-pgsql, testing-mysql, testing-mysql8, testing-mssql, testing-sqlite, testing-e2e, release-latest, docker-linux-amd64-release-version, docker-linux-amd64-release-candidate-version, docker-linux-arm64-dry-run, docker-linux-arm64-release-version, docker-linux-arm64-release-candidate-version, docker-linux-arm64-release, docker-manifest-version, docker-manifest

Update packages overview page
  docs/content/doc/usage/packages/overview.en-us.md
Due: compliance-docs, docs

fix: home dir
  docs/content/doc/installation/from-binary.en-us.md
  docs/content/doc/installation/from-binary.zh-cn.md
Due: compliance-docs, docs

Add safeguard
  web_src/js/features/repo-settings.js
Due: compliance, testing-pgsql, testing-mysql, testing-mysql8, testing-mssql, testing-sqlite, testing-e2e, release-latest, docker-linux-amd64-release-version, docker-linux-amd64-release-candidate-version, docker-linux-arm64-dry-run, docker-linux-arm64-release-version, docker-linux-arm64-release-candidate-version, docker-linux-arm64-release, docker-manifest-version, docker-manifest

Update web_src/js/features/repo-settings.js
  web_src/js/features/repo-settings.js
Due: compliance, testing-pgsql, testing-mysql, testing-mysql8, testing-mssql, testing-sqlite, testing-e2e, release-latest, docker-linux-amd64-release-version, docker-linux-amd64-release-candidate-version, docker-linux-arm64-dry-run, docker-linux-arm64-release-version, docker-linux-arm64-release-candidate-version, docker-linux-arm64-release, docker-manifest-version, docker-manifest

use toggleElem
  web_src/js/features/repo-settings.js
Due: compliance, testing-pgsql, testing-mysql, testing-mysql8, testing-mssql, testing-sqlite, testing-e2e, release-latest, docker-linux-amd64-release-version, docker-linux-amd64-release-candidate-version, docker-linux-arm64-dry-run, docker-linux-arm64-release-version, docker-linux-arm64-release-candidate-version, docker-linux-arm64-release, docker-manifest-version, docker-manifest

Update packages overview page (#24730)
  docs/content/doc/usage/packages/overview.en-us.md
Due: compliance-docs, docs

fix
  models/repo/repo.go
  modules/context/repo.go
  routers/web/repo/setting.go
  services/convert/repository.go
  templates/repo/header.tmpl
  templates/repo/settings/options.tmpl
Due: compliance, testing-pgsql, testing-mysql, testing-mysql8, testing-mssql, testing-sqlite, testing-e2e, release-latest, docker-linux-amd64-release-version, docker-linux-amd64-release-candidate-version, docker-linux-arm64-dry-run, docker-linux-arm64-release-version, docker-linux-arm64-release-candidate-version, docker-linux-arm64-release, docker-manifest-version, docker-manifest
