Repository go-gitea/gitea: changes, and which Drone steps are due for each by the changed paths.
All: compliance, testing-pgsql, compliance-docs, testing-mysql, testing-mysql8, testing-mssql, testing-sqlite, testing-e2e, release-latest, docs, docker-linux-amd64-release-version, docker-linux-amd64-release-candidate-version, docker-linux-arm64-dry-run, docker-linux-arm64-release-version, docker-linux-arm64-release-candidate-version, docker-linux-arm64-release, docker-manifest-version, docker-manifest

compliance:
  steps:
  - name: deps-frontend
    image: node:18
    pull: always
    commands:
    - make deps-frontend
  - name: deps-backend
    image: gitea/test_env:linux-1.20-amd64
    pull: always
    commands:
    - make deps-backend
    - make deps-tools
    volumes:
    - name: deps
      path: /go
  - name: lint-frontend
  ...

testing-pgsql:
  steps:
  - name: fetch-tags
    image: docker:git
    pull: always
    commands:
    - git fetch --tags --force
    when:
      event:
        exclude:
        - pull_request
  - name: deps-backend
    image: gitea/test_env:linux-1.20-amd64
    pull: always
    commands:
    - make deps-backend
    volumes:
    - name: deps
  ...

compliance-docs:
  steps:
  - name: deps-frontend
    image: node:18
    pull: always
    commands:
    - make deps-frontend
  - name: lint-md
    image: node:18
    commands:
    - make lint-md

testing-mysql:
  steps:
  - name: fetch-tags
    image: docker:git
    pull: always
    commands:
    - git fetch --tags --force
    when:
      event:
        exclude:
        - pull_request
  - name: deps-backend
    image: gitea/test_env:linux-1.20-amd64
    pull: always
    commands:
    - make deps-backend
    volumes:
    - name: deps
  ...

testing-mysql8:
  steps:
  - name: fetch-tags
    image: docker:git
    pull: always
    commands:
    - git fetch --tags --force
    when:
      event:
        exclude:
        - pull_request
  - name: deps-backend
    image: gitea/test_env:linux-1.20-amd64
    pull: always
    commands:
    - make deps-backend
    volumes:
    - name: deps
  ...

testing-mssql:
  steps:
  - name: fetch-tags
    image: docker:git
    pull: always
    commands:
    - git fetch --tags --force
    when:
      event:
        exclude:
        - pull_request
  - name: deps-backend
    image: gitea/test_env:linux-1.20-amd64
    pull: always
    commands:
    - make deps-backend
    volumes:
    - name: deps
  ...

testing-sqlite:
  steps:
  - name: fetch-tags
    image: docker:git
    pull: always
    commands:
    - git fetch --tags --force
    when:
      event:
        exclude:
        - pull_request
  - name: deps-backend
    image: gitea/test_env:linux-1.20-arm64
    pull: always
    commands:
    - make deps-backend
    volumes:
    - name: deps
  ...

testing-e2e:
  steps:
  - name: deps-frontend
    image: node:18
    pull: always
    commands:
    - make deps-frontend
  - name: build-frontend
    image: node:18
    commands:
    - make frontend
    depends_on:
    - deps-frontend
  - name: deps-backend
    image: gitea/test_env:linux-1.20-amd64
    pull: always
    commands:
  ...

release-latest:
  steps:
  - name: fetch-tags
    image: docker:git
    pull: always
    commands:
    - git fetch --tags --force
  - name: deps-frontend
    image: node:18
    pull: always
    commands:
    - make deps-frontend
  - name: deps-backend
    image: gitea/test_env:linux-1.20-amd64
    pull: always
    commands:
  ...

modal fixes
  templates/shared/variables/variable_list.tmpl
  web_src/js/features/actions.js
Due: compliance, testing-pgsql, testing-mysql, testing-mysql8, testing-mssql, testing-sqlite, testing-e2e, release-latest, docker-linux-amd64-release-version, docker-linux-amd64-release-candidate-version, docker-linux-arm64-dry-run, docker-linux-arm64-release-version, docker-linux-arm64-release-candidate-version, docker-linux-arm64-release, docker-manifest-version, docker-manifest

rename field, use ignore-dirty
  templates/shared/variables/variable_list.tmpl
  web_src/js/features/actions.js
Due: compliance, testing-pgsql, testing-mysql, testing-mysql8, testing-mssql, testing-sqlite, testing-e2e, release-latest, docker-linux-amd64-release-version, docker-linux-amd64-release-candidate-version, docker-linux-arm64-dry-run, docker-linux-arm64-release-version, docker-linux-arm64-release-candidate-version, docker-linux-arm64-release, docker-manifest-version, docker-manifest

Add dark mode to API Docs (#24971)
  web_src/css/standalone/swagger.css
Due: compliance, testing-pgsql, testing-mysql, testing-mysql8, testing-mssql, testing-sqlite, testing-e2e, release-latest, docker-linux-amd64-release-version, docker-linux-amd64-release-candidate-version, docker-linux-arm64-dry-run, docker-linux-arm64-release-version, docker-linux-arm64-release-candidate-version, docker-linux-arm64-release, docker-manifest-version, docker-manifest

simplify form validation
  web_src/js/features/actions.js
Due: compliance, testing-pgsql, testing-mysql, testing-mysql8, testing-mssql, testing-sqlite, testing-e2e, release-latest, docker-linux-amd64-release-version, docker-linux-amd64-release-candidate-version, docker-linux-arm64-dry-run, docker-linux-arm64-release-version, docker-linux-arm64-release-candidate-version, docker-linux-arm64-release, docker-manifest-version, docker-manifest

use flexbox, fix border-radius
  templates/shared/variables/variable_list.tmpl
  web_src/css/repo.css
Due: compliance, testing-pgsql, testing-mysql, testing-mysql8, testing-mssql, testing-sqlite, testing-e2e, release-latest, docker-linux-amd64-release-version, docker-linux-amd64-release-candidate-version, docker-linux-arm64-dry-run, docker-linux-arm64-release-version, docker-linux-arm64-release-candidate-version, docker-linux-arm64-release, docker-manifest-version, docker-manifest

Remove meta tags `theme-color` and `default-theme` (#24960)
  custom/conf/app.example.ini
  docs/content/doc/administration/config-cheat-sheet.en-us.md
  modules/setting/ui.go
  modules/templates/helper.go
  templates/base/head.tmpl
  templates/base/head_style.tmpl
  templates/status/500.tmpl
Due: compliance, testing-pgsql, compliance-docs, testing-mysql, testing-mysql8, testing-mssql, testing-sqlite, testing-e2e, release-latest, docs, docker-linux-amd64-release-version, docker-linux-amd64-release-candidate-version, docker-linux-arm64-dry-run, docker-linux-arm64-release-version, docker-linux-arm64-release-candidate-version, docker-linux-arm64-release, docker-manifest-version, docker-manifest

Update from-binary.en-us.md
  docs/content/doc/installation/from-binary.en-us.md
Due: compliance-docs, docs

fix sql
  models/user/user.go
Due: compliance, testing-pgsql, testing-mysql, testing-mysql8, testing-mssql, testing-sqlite, testing-e2e, release-latest, docker-linux-amd64-release-version, docker-linux-amd64-release-candidate-version, docker-linux-arm64-dry-run, docker-linux-arm64-release-version, docker-linux-arm64-release-candidate-version, docker-linux-arm64-release, docker-manifest-version, docker-manifest

fix conflicts
  models/migrations/migrations.go
  models/migrations/v1_20/v259.go
Due: compliance, testing-pgsql, testing-mysql, testing-mysql8, testing-mssql, testing-sqlite, testing-e2e, release-latest, docker-linux-amd64-release-version, docker-linux-amd64-release-candidate-version, docker-linux-arm64-dry-run, docker-linux-arm64-release-version, docker-linux-arm64-release-candidate-version, docker-linux-arm64-release, docker-manifest-version, docker-manifest

[skip ci] Updated translations via Crowdin
  options/locale/locale_ja-JP.ini
Due: compliance, testing-pgsql, testing-mysql, testing-mysql8, testing-mssql, testing-sqlite, testing-e2e, release-latest, docker-linux-amd64-release-version, docker-linux-amd64-release-candidate-version, docker-linux-arm64-dry-run, docker-linux-arm64-release-version, docker-linux-arm64-release-candidate-version, docker-linux-arm64-release, docker-manifest-version, docker-manifest

simple docs fixes: 'pull request' page (en-us & zh-tw) link path to 'issue-pull-request-templates' (#24961) (#24970)
  docs/content/doc/usage/pull-request.en-us.md
  docs/content/doc/usage/pull-request.zh-tw.md
Due: compliance-docs, docs

Remove unnecessary content on docs
  docs/content/doc/installation/from-package.zh-cn.md
  docs/content/doc/installation/from-source.zh-cn.md
  docs/content/page/index.zh-cn.md
Due: compliance-docs, docs

Help to recover from corrupted levelqueue (#24912)
  modules/queue/base_levelqueue.go
  modules/queue/base_levelqueue_common.go
  modules/queue/base_levelqueue_test.go
  modules/queue/base_levelqueue_unique.go
  modules/queue/lqinternal/lqinternal.go
Due: compliance, testing-pgsql, testing-mysql, testing-mysql8, testing-mssql, testing-sqlite, testing-e2e, release-latest, docker-linux-amd64-release-version, docker-linux-amd64-release-candidate-version, docker-linux-arm64-dry-run, docker-linux-arm64-release-version, docker-linux-arm64-release-candidate-version, docker-linux-arm64-release, docker-manifest-version, docker-manifest

Test query must have "order by" explicitly to avoid unstable results (#24963)
  models/unittest/unit_tests.go
Due: compliance, testing-pgsql, testing-mysql, testing-mysql8, testing-mssql, testing-sqlite, testing-e2e, release-latest, docker-linux-amd64-release-version, docker-linux-amd64-release-candidate-version, docker-linux-arm64-dry-run, docker-linux-arm64-release-version, docker-linux-arm64-release-candidate-version, docker-linux-arm64-release, docker-manifest-version, docker-manifest

`zh-cn` translation for usage docs (#24897)
  docs/content/doc/usage/agit-support.zh-cn.md
  docs/content/doc/usage/clone-filter.zh-cn.md
  docs/content/doc/usage/incoming-email.zh-cn.md
  docs/content/doc/usage/labels.zh-cn.md
  docs/content/doc/usage/linked-references.zh-cn.md
  docs/content/doc/usage/merge-message-templates.zh-cn.md
  docs/content/doc/usage/permissions.zh-cn.md
  docs/content/doc/usage/profile-readme.zh-cn.md
  docs/content/doc/usage/protected-tags.zh-cn.md
  docs/content/doc/usage/push.zh-cn.md
  docs/content/doc/usage/repo-mirror.zh-cn.md
  docs/content/doc/usage/secrets.zh-cn.md
  docs/content/doc/usage/template-repositories.zh-cn.md
  docs/content/doc/usage/webhooks.zh-cn.md
Due: compliance-docs, docs

`zh-cn` translation for usage docs (#24897) (#24977)
  docs/content/doc/usage/agit-support.zh-cn.md
  docs/content/doc/usage/clone-filter.zh-cn.md
  docs/content/doc/usage/incoming-email.zh-cn.md
  docs/content/doc/usage/labels.zh-cn.md
  docs/content/doc/usage/linked-references.zh-cn.md
  docs/content/doc/usage/merge-message-templates.zh-cn.md
  docs/content/doc/usage/permissions.zh-cn.md
  docs/content/doc/usage/profile-readme.zh-cn.md
  docs/content/doc/usage/protected-tags.zh-cn.md
  docs/content/doc/usage/push.zh-cn.md
  docs/content/doc/usage/repo-mirror.zh-cn.md
  docs/content/doc/usage/secrets.zh-cn.md
  docs/content/doc/usage/template-repositories.zh-cn.md
  docs/content/doc/usage/webhooks.zh-cn.md
Due: compliance-docs, docs

use links started with doc
  docs/content/doc/development/hacking-on-gitea.en-us.md
  docs/content/doc/development/hacking-on-gitea.zh-cn.md
  docs/content/doc/installation/from-binary.en-us.md
  docs/content/doc/installation/from-binary.fr-fr.md
  docs/content/doc/installation/from-binary.zh-cn.md
  docs/content/doc/installation/from-package.en-us.md
  docs/content/doc/installation/from-package.fr-fr.md
  docs/content/doc/installation/from-package.zh-cn.md
  docs/content/doc/installation/from-package.zh-tw.md
  docs/content/doc/installation/from-source.zh-cn.md
  docs/content/page/index.zh-cn.md
Due: compliance-docs, docs

replace a with []()
  docs/content/doc/development/hacking-on-gitea.en-us.md
  docs/content/doc/installation/from-source.en-us.md
Due: compliance-docs, docs

improve
  modules/repository/license.go
Due: compliance, testing-pgsql, testing-mysql, testing-mysql8, testing-mssql, testing-sqlite, testing-e2e, release-latest, docker-linux-amd64-release-version, docker-linux-amd64-release-candidate-version, docker-linux-arm64-dry-run, docker-linux-arm64-release-version, docker-linux-arm64-release-candidate-version, docker-linux-arm64-release, docker-manifest-version, docker-manifest

add db migration
  models/migrations/migrations.go
  models/migrations/v1_20/v259.go
Due: compliance, testing-pgsql, testing-mysql, testing-mysql8, testing-mssql, testing-sqlite, testing-e2e, release-latest, docker-linux-amd64-release-version, docker-linux-amd64-release-candidate-version, docker-linux-arm64-dry-run, docker-linux-arm64-release-version, docker-linux-arm64-release-candidate-version, docker-linux-arm64-release, docker-manifest-version, docker-manifest

revert to avoid conflicts
  docs/content/doc/installation/from-package.zh-cn.md
  docs/content/doc/installation/from-source.zh-cn.md
  docs/content/page/index.zh-cn.md
Due: compliance-docs, docs

fix migration
  models/migrations/v1_20/v259.go
Due: compliance, testing-pgsql, testing-mysql, testing-mysql8, testing-mssql, testing-sqlite, testing-e2e, release-latest, docker-linux-amd64-release-version, docker-linux-amd64-release-candidate-version, docker-linux-arm64-dry-run, docker-linux-arm64-release-version, docker-linux-arm64-release-candidate-version, docker-linux-arm64-release, docker-manifest-version, docker-manifest

add licensecheck test
  models/migrations/v1_20/v259.go
  modules/repository/license.go
  modules/repository/license_test.go
Due: compliance, testing-pgsql, testing-mysql, testing-mysql8, testing-mssql, testing-sqlite, testing-e2e, release-latest, docker-linux-amd64-release-version, docker-linux-amd64-release-candidate-version, docker-linux-arm64-dry-run, docker-linux-arm64-release-version, docker-linux-arm64-release-candidate-version, docker-linux-arm64-release, docker-manifest-version, docker-manifest

add step start time
  routers/web/repo/actions/view.go
Due: compliance, testing-pgsql, testing-mysql, testing-mysql8, testing-mssql, testing-sqlite, testing-e2e, release-latest, docker-linux-amd64-release-version, docker-linux-amd64-release-candidate-version, docker-linux-arm64-dry-run, docker-linux-arm64-release-version, docker-linux-arm64-release-candidate-version, docker-linux-arm64-release, docker-manifest-version, docker-manifest

add user action runners
  models/actions/runner.go
  routers/web/repo/setting/runners.go
  routers/web/web.go
  templates/user/settings/actions.tmpl
  templates/user/settings/navbar.tmpl
  templates/user/settings/runner_edit.tmpl
Due: compliance, testing-pgsql, testing-mysql, testing-mysql8, testing-mssql, testing-sqlite, testing-e2e, release-latest, docker-linux-amd64-release-version, docker-linux-amd64-release-candidate-version, docker-linux-arm64-dry-run, docker-linux-arm64-release-version, docker-linux-arm64-release-candidate-version, docker-linux-arm64-release, docker-manifest-version, docker-manifest

type
  models/actions/runner.go
Due: compliance, testing-pgsql, testing-mysql, testing-mysql8, testing-mssql, testing-sqlite, testing-e2e, release-latest, docker-linux-amd64-release-version, docker-linux-amd64-release-candidate-version, docker-linux-arm64-dry-run, docker-linux-arm64-release-version, docker-linux-arm64-release-candidate-version, docker-linux-arm64-release, docker-manifest-version, docker-manifest

Update from-binary.en-us.md (#24975)
  docs/content/doc/installation/from-binary.en-us.md
Due: compliance-docs, docs

Improve wording in user-facing string
  options/locale/locale_en-US.ini
Due: compliance, testing-pgsql, testing-mysql, testing-mysql8, testing-mssql, testing-sqlite, testing-e2e, release-latest, docker-linux-amd64-release-version, docker-linux-amd64-release-candidate-version, docker-linux-arm64-dry-run, docker-linux-arm64-release-version, docker-linux-arm64-release-candidate-version, docker-linux-arm64-release, docker-manifest-version, docker-manifest

Add step start time to `ViewStepLog` (#24980)
  routers/web/repo/actions/view.go
Due: compliance, testing-pgsql, testing-mysql, testing-mysql8, testing-mssql, testing-sqlite, testing-e2e, release-latest, docker-linux-amd64-release-version, docker-linux-amd64-release-candidate-version, docker-linux-arm64-dry-run, docker-linux-arm64-release-version, docker-linux-arm64-release-candidate-version, docker-linux-arm64-release, docker-manifest-version, docker-manifest

fix repo level project color change
  templates/repo/projects/view.tmpl
Due: compliance, testing-pgsql, testing-mysql, testing-mysql8, testing-mssql, testing-sqlite, testing-e2e, release-latest, docker-linux-amd64-release-version, docker-linux-amd64-release-candidate-version, docker-linux-arm64-dry-run, docker-linux-arm64-release-version, docker-linux-arm64-release-candidate-version, docker-linux-arm64-release, docker-manifest-version, docker-manifest

Add comments
  templates/repo/commit_page.tmpl
Due: compliance, testing-pgsql, testing-mysql, testing-mysql8, testing-mssql, testing-sqlite, testing-e2e, release-latest, docker-linux-amd64-release-version, docker-linux-amd64-release-candidate-version, docker-linux-arm64-dry-run, docker-linux-arm64-release-version, docker-linux-arm64-release-candidate-version, docker-linux-arm64-release, docker-manifest-version, docker-manifest

use starttime from backend
  web_src/js/components/RepoActionView.vue
Due: compliance, testing-pgsql, testing-mysql, testing-mysql8, testing-mssql, testing-sqlite, testing-e2e, release-latest, docker-linux-amd64-release-version, docker-linux-amd64-release-candidate-version, docker-linux-arm64-dry-run, docker-linux-arm64-release-version, docker-linux-arm64-release-candidate-version, docker-linux-arm64-release, docker-manifest-version, docker-manifest

Remove ui class
  templates/repo/diff/box.tmpl
Due: compliance, testing-pgsql, testing-mysql, testing-mysql8, testing-mssql, testing-sqlite, testing-e2e, release-latest, docker-linux-amd64-release-version, docker-linux-amd64-release-candidate-version, docker-linux-arm64-dry-run, docker-linux-arm64-release-version, docker-linux-arm64-release-candidate-version, docker-linux-arm64-release, docker-manifest-version, docker-manifest

Revert "revert to old way"
  services/gitdiff/gitdiff.go
Due: compliance, testing-pgsql, testing-mysql, testing-mysql8, testing-mssql, testing-sqlite, testing-e2e, release-latest, docker-linux-amd64-release-version, docker-linux-amd64-release-candidate-version, docker-linux-arm64-dry-run, docker-linux-arm64-release-version, docker-linux-arm64-release-candidate-version, docker-linux-arm64-release, docker-manifest-version, docker-manifest

fix lint
  services/gitdiff/gitdiff.go
Due: compliance, testing-pgsql, testing-mysql, testing-mysql8, testing-mssql, testing-sqlite, testing-e2e, release-latest, docker-linux-amd64-release-version, docker-linux-amd64-release-candidate-version, docker-linux-arm64-dry-run, docker-linux-arm64-release-version, docker-linux-arm64-release-candidate-version, docker-linux-arm64-release, docker-manifest-version, docker-manifest

revert to old way
  services/gitdiff/gitdiff.go
Due: compliance, testing-pgsql, testing-mysql, testing-mysql8, testing-mssql, testing-sqlite, testing-e2e, release-latest, docker-linux-amd64-release-version, docker-linux-amd64-release-candidate-version, docker-linux-arm64-dry-run, docker-linux-arm64-release-version, docker-linux-arm64-release-candidate-version, docker-linux-arm64-release, docker-manifest-version, docker-manifest

fix TestAPIViewPulls
  services/gitdiff/gitdiff.go
Due: compliance, testing-pgsql, testing-mysql, testing-mysql8, testing-mssql, testing-sqlite, testing-e2e, release-latest, docker-linux-amd64-release-version, docker-linux-amd64-release-candidate-version, docker-linux-arm64-dry-run, docker-linux-arm64-release-version, docker-linux-arm64-release-candidate-version, docker-linux-arm64-release, docker-manifest-version, docker-manifest

fix arrow
  options/locale/locale_en-US.ini
  templates/repo/diff/box.tmpl
Due: compliance, testing-pgsql, testing-mysql, testing-mysql8, testing-mssql, testing-sqlite, testing-e2e, release-latest, docker-linux-amd64-release-version, docker-linux-amd64-release-candidate-version, docker-linux-arm64-dry-run, docker-linux-arm64-release-version, docker-linux-arm64-release-candidate-version, docker-linux-arm64-release, docker-manifest-version, docker-manifest

Display file mode for new file and file mode changes
  options/locale/locale_en-US.ini
  services/gitdiff/gitdiff.go
  templates/repo/diff/box.tmpl
Due: compliance, testing-pgsql, testing-mysql, testing-mysql8, testing-mssql, testing-sqlite, testing-e2e, release-latest, docker-linux-amd64-release-version, docker-linux-amd64-release-candidate-version, docker-linux-arm64-dry-run, docker-linux-arm64-release-version, docker-linux-arm64-release-candidate-version, docker-linux-arm64-release, docker-manifest-version, docker-manifest

Update templates/repo/diff/box.tmpl
  templates/repo/diff/box.tmpl
Due: compliance, testing-pgsql, testing-mysql, testing-mysql8, testing-mssql, testing-sqlite, testing-e2e, release-latest, docker-linux-amd64-release-version, docker-linux-amd64-release-candidate-version, docker-linux-arm64-dry-run, docker-linux-arm64-release-version, docker-linux-arm64-release-candidate-version, docker-linux-arm64-release, docker-manifest-version, docker-manifest

Path conditions:
  compliance: any file but: docs/**, *.md
  testing-pgsql: any file but: docs/**
  compliance-docs: any of: docs/**, *.md
  testing-mysql: any file but: docs/**
  testing-mysql8: any file but: docs/**
  testing-mssql: any file but: docs/**
  testing-sqlite: any file but: docs/**
  testing-e2e: any file but: docs/**
  release-latest: any file but: docs/**
  docs: any of: docs/**
  docker-linux-amd64-release-version: any file but: docs/**
  docker-linux-amd64-release-candidate-version: any file but: docs/**
  docker-linux-arm64-dry-run: any file but: docs/**
  docker-linux-arm64-release-version: any file but: docs/**
  docker-linux-arm64-release-candidate-version: any file but: docs/**
  docker-linux-arm64-release: any file but: docs/**
  docker-manifest-version: any file but: docs/**
  docker-manifest: any file but: docs/**
