Repository go-gitea/gitea: changes, and which Drone steps are due for each by the changed paths.
All: compliance, testing-pgsql, compliance-docs, testing-mysql, testing-mysql8, testing-mssql, testing-sqlite, testing-e2e, release-latest, docs, docker-linux-amd64-release-version, docker-linux-amd64-release-candidate-version, docker-linux-arm64-dry-run, docker-linux-arm64-release-version, docker-linux-arm64-release-candidate-version, docker-linux-arm64-release, docker-manifest-version, docker-manifest

Path conditions:
  compliance: any file but: docs/**, *.md
  testing-pgsql: any file but: docs/**
  compliance-docs: any of: docs/**, *.md
  testing-mysql: any file but: docs/**
  testing-mysql8: any file but: docs/**
  testing-mssql: any file but: docs/**
  testing-sqlite: any file but: docs/**
  testing-e2e: any file but: docs/**
  release-latest: any file but: docs/**
  docs: any of: docs/**
  docker-linux-amd64-release-version: any file but: docs/**
  docker-linux-amd64-release-candidate-version: any file but: docs/**
  docker-linux-arm64-dry-run: any file but: docs/**
  docker-linux-arm64-release-version: any file but: docs/**
  docker-linux-arm64-release-candidate-version: any file but: docs/**
  docker-linux-arm64-release: any file but: docs/**
  docker-manifest-version: any file but: docs/**
  docker-manifest: any file but: docs/**

Fix test
  tests/integration/api_team_test.go
Due: compliance, testing-pgsql, testing-mysql, testing-mysql8, testing-mssql, testing-sqlite, testing-e2e, release-latest, docker-linux-amd64-release-version, docker-linux-amd64-release-candidate-version, docker-linux-arm64-dry-run, docker-linux-arm64-release-version, docker-linux-arm64-release-candidate-version, docker-linux-arm64-release, docker-manifest-version, docker-manifest

Fix docs documenting invalid `@every` for `OLDER_THAN` cron settings (#24695) (#24698)
  docs/content/doc/administration/config-cheat-sheet.en-us.md
Due: compliance-docs, docs

Parallelize `GetBranch` calls
  routers/web/repo/repo.go
Due: compliance, testing-pgsql, testing-mysql, testing-mysql8, testing-mssql, testing-sqlite, testing-e2e, release-latest, docker-linux-amd64-release-version, docker-linux-amd64-release-candidate-version, docker-linux-arm64-dry-run, docker-linux-arm64-release-version, docker-linux-arm64-release-candidate-version, docker-linux-arm64-release, docker-manifest-version, docker-manifest

Update modules/avatar/avatar.go
  modules/avatar/avatar.go
Due: compliance, testing-pgsql, testing-mysql, testing-mysql8, testing-mssql, testing-sqlite, testing-e2e, release-latest, docker-linux-amd64-release-version, docker-linux-amd64-release-candidate-version, docker-linux-arm64-dry-run, docker-linux-arm64-release-version, docker-linux-arm64-release-candidate-version, docker-linux-arm64-release, docker-manifest-version, docker-manifest

fix
  docs/content/doc/administration/config-cheat-sheet.en-us.md
  modules/setting/picture.go
Due: compliance, testing-pgsql, compliance-docs, testing-mysql, testing-mysql8, testing-mssql, testing-sqlite, testing-e2e, release-latest, docs, docker-linux-amd64-release-version, docker-linux-amd64-release-candidate-version, docker-linux-arm64-dry-run, docker-linux-arm64-release-version, docker-linux-arm64-release-candidate-version, docker-linux-arm64-release, docker-manifest-version, docker-manifest

fix
  custom/conf/app.example.ini
  docs/content/doc/administration/config-cheat-sheet.en-us.md
  modules/avatar/avatar.go
  modules/avatar/avatar_test.go
  modules/setting/picture.go
  services/repository/avatar.go
  services/user/user.go
Due: compliance, testing-pgsql, compliance-docs, testing-mysql, testing-mysql8, testing-mssql, testing-sqlite, testing-e2e, release-latest, docs, docker-linux-amd64-release-version, docker-linux-amd64-release-candidate-version, docker-linux-arm64-dry-run, docker-linux-arm64-release-version, docker-linux-arm64-release-candidate-version, docker-linux-arm64-release, docker-manifest-version, docker-manifest

support webp animation
  modules/avatar/avatar.go
  modules/avatar/avatar_test.go
  modules/avatar/testdata/animated.webp
Due: compliance, testing-pgsql, testing-mysql, testing-mysql8, testing-mssql, testing-sqlite, testing-e2e, release-latest, docker-linux-amd64-release-version, docker-linux-amd64-release-candidate-version, docker-linux-arm64-dry-run, docker-linux-arm64-release-version, docker-linux-arm64-release-candidate-version, docker-linux-arm64-release, docker-manifest-version, docker-manifest

remove unnecessary setting access
  modules/avatar/avatar.go
  modules/avatar/avatar_test.go
  services/repository/avatar.go
  services/user/user.go
Due: compliance, testing-pgsql, testing-mysql, testing-mysql8, testing-mssql, testing-sqlite, testing-e2e, release-latest, docker-linux-amd64-release-version, docker-linux-amd64-release-candidate-version, docker-linux-arm64-dry-run, docker-linux-arm64-release-version, docker-linux-arm64-release-candidate-version, docker-linux-arm64-release, docker-manifest-version, docker-manifest

fine tune
  modules/avatar/avatar.go
  modules/avatar/avatar_test.go
Due: compliance, testing-pgsql, testing-mysql, testing-mysql8, testing-mssql, testing-sqlite, testing-e2e, release-latest, docker-linux-amd64-release-version, docker-linux-amd64-release-candidate-version, docker-linux-arm64-dry-run, docker-linux-arm64-release-version, docker-linux-arm64-release-candidate-version, docker-linux-arm64-release, docker-manifest-version, docker-manifest

improve webp detection
  modules/avatar/avatar.go
  modules/avatar/avatar_test.go
Due: compliance, testing-pgsql, testing-mysql, testing-mysql8, testing-mssql, testing-sqlite, testing-e2e, release-latest, docker-linux-amd64-release-version, docker-linux-amd64-release-candidate-version, docker-linux-arm64-dry-run, docker-linux-arm64-release-version, docker-linux-arm64-release-candidate-version, docker-linux-arm64-release, docker-manifest-version, docker-manifest

refactor
  modules/avatar/avatar.go
  modules/avatar/avatar_test.go
  services/repository/avatar.go
  services/user/user.go
Due: compliance, testing-pgsql, testing-mysql, testing-mysql8, testing-mssql, testing-sqlite, testing-e2e, release-latest, docker-linux-amd64-release-version, docker-linux-amd64-release-candidate-version, docker-linux-arm64-dry-run, docker-linux-arm64-release-version, docker-linux-arm64-release-candidate-version, docker-linux-arm64-release, docker-manifest-version, docker-manifest

Apply suggestions from code review
  custom/conf/app.example.ini
  docs/content/doc/administration/config-cheat-sheet.en-us.md
Due: compliance, testing-pgsql, compliance-docs, testing-mysql, testing-mysql8, testing-mssql, testing-sqlite, testing-e2e, release-latest, docs, docker-linux-amd64-release-version, docker-linux-amd64-release-candidate-version, docker-linux-arm64-dry-run, docker-linux-arm64-release-version, docker-linux-arm64-release-candidate-version, docker-linux-arm64-release, docker-manifest-version, docker-manifest

increase AVATAR_MAX_HEIGHT to 4096
  custom/conf/app.example.ini
  docs/content/doc/administration/config-cheat-sheet.en-us.md
  docs/content/doc/administration/config-cheat-sheet.zh-cn.md
  modules/setting/picture.go
Due: compliance, testing-pgsql, compliance-docs, testing-mysql, testing-mysql8, testing-mssql, testing-sqlite, testing-e2e, release-latest, docs, docker-linux-amd64-release-version, docker-linux-amd64-release-candidate-version, docker-linux-arm64-dry-run, docker-linux-arm64-release-version, docker-linux-arm64-release-candidate-version, docker-linux-arm64-release, docker-manifest-version, docker-manifest

double AVATAR_MAX_ORIGIN_SIZE to 256KiB
  custom/conf/app.example.ini
  docs/content/doc/administration/config-cheat-sheet.en-us.md
  modules/setting/picture.go
Due: compliance, testing-pgsql, compliance-docs, testing-mysql, testing-mysql8, testing-mssql, testing-sqlite, testing-e2e, release-latest, docs, docker-linux-amd64-release-version, docker-linux-amd64-release-candidate-version, docker-linux-arm64-dry-run, docker-linux-arm64-release-version, docker-linux-arm64-release-candidate-version, docker-linux-arm64-release, docker-manifest-version, docker-manifest

Update docs/content/doc/administration/config-cheat-sheet.en-us.md
  docs/content/doc/administration/config-cheat-sheet.en-us.md
Due: compliance-docs, docs

fix typo in comment
  modules/avatar/avatar.go
Due: compliance, testing-pgsql, testing-mysql, testing-mysql8, testing-mssql, testing-sqlite, testing-e2e, release-latest, docker-linux-amd64-release-version, docker-linux-amd64-release-candidate-version, docker-linux-arm64-dry-run, docker-linux-arm64-release-version, docker-linux-arm64-release-candidate-version, docker-linux-arm64-release, docker-manifest-version, docker-manifest

improve comment
  modules/avatar/avatar.go
Due: compliance, testing-pgsql, testing-mysql, testing-mysql8, testing-mssql, testing-sqlite, testing-e2e, release-latest, docker-linux-amd64-release-version, docker-linux-amd64-release-candidate-version, docker-linux-arm64-dry-run, docker-linux-arm64-release-version, docker-linux-arm64-release-candidate-version, docker-linux-arm64-release, docker-manifest-version, docker-manifest

double default AVATAR_MAX_FILE_SIZE to 2MiB
  custom/conf/app.example.ini
  docs/content/doc/administration/config-cheat-sheet.en-us.md
  docs/content/doc/administration/config-cheat-sheet.zh-cn.md
  modules/setting/picture.go
Due: compliance, testing-pgsql, compliance-docs, testing-mysql, testing-mysql8, testing-mssql, testing-sqlite, testing-e2e, release-latest, docs, docker-linux-amd64-release-version, docker-linux-amd64-release-candidate-version, docker-linux-arm64-dry-run, docker-linux-arm64-release-version, docker-linux-arm64-release-candidate-version, docker-linux-arm64-release, docker-manifest-version, docker-manifest

reduce AVATAR_RENDERED_SIZE_FACTOR to 2
  custom/conf/app.example.ini
  docs/content/doc/administration/config-cheat-sheet.en-us.md
  modules/setting/picture.go
Due: compliance, testing-pgsql, compliance-docs, testing-mysql, testing-mysql8, testing-mssql, testing-sqlite, testing-e2e, release-latest, docs, docker-linux-amd64-release-version, docker-linux-amd64-release-candidate-version, docker-linux-arm64-dry-run, docker-linux-arm64-release-version, docker-linux-arm64-release-candidate-version, docker-linux-arm64-release, docker-manifest-version, docker-manifest

fix comment typo
  modules/avatar/avatar.go
Due: compliance, testing-pgsql, testing-mysql, testing-mysql8, testing-mssql, testing-sqlite, testing-e2e, release-latest, docker-linux-amd64-release-version, docker-linux-amd64-release-candidate-version, docker-linux-arm64-dry-run, docker-linux-arm64-release-version, docker-linux-arm64-release-candidate-version, docker-linux-arm64-release, docker-manifest-version, docker-manifest

move card styles to own file
  web_src/css/base.css
  web_src/css/index.css
  web_src/css/modules/card.css
Due: compliance, testing-pgsql, testing-mysql, testing-mysql8, testing-mssql, testing-sqlite, testing-e2e, release-latest, docker-linux-amd64-release-version, docker-linux-amd64-release-candidate-version, docker-linux-arm64-dry-run, docker-linux-arm64-release-version, docker-linux-arm64-release-candidate-version, docker-linux-arm64-release, docker-manifest-version, docker-manifest

take into account setting.Avatar.RenderedSizeFactor when scaling, reduce user page avatar size to 256
  modules/avatar/avatar.go
  modules/avatar/avatar_test.go
  templates/user/profile.tmpl
Due: compliance, testing-pgsql, testing-mysql, testing-mysql8, testing-mssql, testing-sqlite, testing-e2e, release-latest, docker-linux-amd64-release-version, docker-linux-amd64-release-candidate-version, docker-linux-arm64-dry-run, docker-linux-arm64-release-version, docker-linux-arm64-release-candidate-version, docker-linux-arm64-release, docker-manifest-version, docker-manifest

Update templates/user/profile.tmpl
  templates/user/profile.tmpl
Due: compliance, testing-pgsql, testing-mysql, testing-mysql8, testing-mssql, testing-sqlite, testing-e2e, release-latest, docker-linux-amd64-release-version, docker-linux-amd64-release-candidate-version, docker-linux-arm64-dry-run, docker-linux-arm64-release-version, docker-linux-arm64-release-candidate-version, docker-linux-arm64-release, docker-manifest-version, docker-manifest

avatar page fixes
  web_src/css/base.css
  web_src/css/user.css
Due: compliance, testing-pgsql, testing-mysql, testing-mysql8, testing-mssql, testing-sqlite, testing-e2e, release-latest, docker-linux-amd64-release-version, docker-linux-amd64-release-candidate-version, docker-linux-arm64-dry-run, docker-linux-arm64-release-version, docker-linux-arm64-release-candidate-version, docker-linux-arm64-release, docker-manifest-version, docker-manifest

remove fomantic card module and extract all needed styles, fix avatar everywhere
  web_src/css/base.css
  web_src/css/user.css
  web_src/fomantic/build/semantic.css
  web_src/fomantic/semantic.json
Due: compliance, testing-pgsql, testing-mysql, testing-mysql8, testing-mssql, testing-sqlite, testing-e2e, release-latest, docker-linux-amd64-release-version, docker-linux-amd64-release-candidate-version, docker-linux-arm64-dry-run, docker-linux-arm64-release-version, docker-linux-arm64-release-candidate-version, docker-linux-arm64-release, docker-manifest-version, docker-manifest

add comment
  web_src/css/base.css
Due: compliance, testing-pgsql, testing-mysql, testing-mysql8, testing-mssql, testing-sqlite, testing-e2e, release-latest, docker-linux-amd64-release-version, docker-linux-amd64-release-candidate-version, docker-linux-arm64-dry-run, docker-linux-arm64-release-version, docker-linux-arm64-release-candidate-version, docker-linux-arm64-release, docker-manifest-version, docker-manifest

more fixes, migrate is now pixel-identical
  web_src/css/base.css
Due: compliance, testing-pgsql, testing-mysql, testing-mysql8, testing-mssql, testing-sqlite, testing-e2e, release-latest, docker-linux-amd64-release-version, docker-linux-amd64-release-candidate-version, docker-linux-arm64-dry-run, docker-linux-arm64-release-version, docker-linux-arm64-release-candidate-version, docker-linux-arm64-release, docker-manifest-version, docker-manifest

make fmt
  modules/avatar/avatar.go
Due: compliance, testing-pgsql, testing-mysql, testing-mysql8, testing-mssql, testing-sqlite, testing-e2e, release-latest, docker-linux-amd64-release-version, docker-linux-amd64-release-candidate-version, docker-linux-arm64-dry-run, docker-linux-arm64-release-version, docker-linux-arm64-release-candidate-version, docker-linux-arm64-release, docker-manifest-version, docker-manifest

update comment
  modules/avatar/avatar.go
Due: compliance, testing-pgsql, testing-mysql, testing-mysql8, testing-mssql, testing-sqlite, testing-e2e, release-latest, docker-linux-amd64-release-version, docker-linux-amd64-release-candidate-version, docker-linux-arm64-dry-run, docker-linux-arm64-release-version, docker-linux-arm64-release-candidate-version, docker-linux-arm64-release, docker-manifest-version, docker-manifest

revert AVATAR_MAX_FILE_SIZE to 1MiB
  custom/conf/app.example.ini
  docs/content/doc/administration/config-cheat-sheet.en-us.md
  docs/content/doc/administration/config-cheat-sheet.zh-cn.md
  modules/setting/picture.go
Due: compliance, testing-pgsql, compliance-docs, testing-mysql, testing-mysql8, testing-mssql, testing-sqlite, testing-e2e, release-latest, docs, docker-linux-amd64-release-version, docker-linux-amd64-release-candidate-version, docker-linux-arm64-dry-run, docker-linux-arm64-release-version, docker-linux-arm64-release-candidate-version, docker-linux-arm64-release, docker-manifest-version, docker-manifest

replace number in test
  modules/avatar/avatar_test.go
Due: compliance, testing-pgsql, testing-mysql, testing-mysql8, testing-mssql, testing-sqlite, testing-e2e, release-latest, docker-linux-amd64-release-version, docker-linux-amd64-release-candidate-version, docker-linux-arm64-dry-run, docker-linux-arm64-release-version, docker-linux-arm64-release-candidate-version, docker-linux-arm64-release, docker-manifest-version, docker-manifest

fix failed tests
  modules/repository/commits_test.go
Due: compliance, testing-pgsql, testing-mysql, testing-mysql8, testing-mssql, testing-sqlite, testing-e2e, release-latest, docker-linux-amd64-release-version, docker-linux-amd64-release-candidate-version, docker-linux-arm64-dry-run, docker-linux-arm64-release-version, docker-linux-arm64-release-candidate-version, docker-linux-arm64-release, docker-manifest-version, docker-manifest

Cut git calls in half
  modules/git/repo_branch.go
  routers/web/repo/repo.go
  services/repository/branch.go
Due: compliance, testing-pgsql, testing-mysql, testing-mysql8, testing-mssql, testing-sqlite, testing-e2e, release-latest, docker-linux-amd64-release-version, docker-linux-amd64-release-candidate-version, docker-linux-arm64-dry-run, docker-linux-arm64-release-version, docker-linux-arm64-release-candidate-version, docker-linux-arm64-release, docker-manifest-version, docker-manifest

Cut git calls in half again
  modules/git/repo_branch.go
  routers/web/repo/repo.go
  services/repository/branch.go
Due: compliance, testing-pgsql, testing-mysql, testing-mysql8, testing-mssql, testing-sqlite, testing-e2e, release-latest, docker-linux-amd64-release-version, docker-linux-amd64-release-candidate-version, docker-linux-arm64-dry-run, docker-linux-arm64-release-version, docker-linux-arm64-release-candidate-version, docker-linux-arm64-release, docker-manifest-version, docker-manifest

remove ui
  web_src/css/base.css
Due: compliance, testing-pgsql, testing-mysql, testing-mysql8, testing-mssql, testing-sqlite, testing-e2e, release-latest, docker-linux-amd64-release-version, docker-linux-amd64-release-candidate-version, docker-linux-arm64-dry-run, docker-linux-arm64-release-version, docker-linux-arm64-release-candidate-version, docker-linux-arm64-release, docker-manifest-version, docker-manifest

Improve avatar uploading / resizing / compressing, remove Fomantic card module (#24653)
  custom/conf/app.example.ini
  docs/content/doc/administration/config-cheat-sheet.en-us.md
  docs/content/doc/administration/config-cheat-sheet.zh-cn.md
  modules/avatar/avatar.go
  modules/avatar/avatar_test.go
  modules/avatar/testdata/animated.webp
  modules/repository/commits_test.go
  modules/setting/picture.go
  services/repository/avatar.go
  services/user/user.go
  templates/user/profile.tmpl
  web_src/css/base.css
  web_src/css/index.css
  web_src/css/modules/card.css
  web_src/css/user.css
  web_src/fomantic/build/semantic.css
  web_src/fomantic/semantic.json
Due: compliance, testing-pgsql, compliance-docs, testing-mysql, testing-mysql8, testing-mssql, testing-sqlite, testing-e2e, release-latest, docs, docker-linux-amd64-release-version, docker-linux-amd64-release-candidate-version, docker-linux-arm64-dry-run, docker-linux-arm64-release-version, docker-linux-arm64-release-candidate-version, docker-linux-arm64-release, docker-manifest-version, docker-manifest

Update to Alpine 3.18
  Dockerfile
  Dockerfile.rootless
Due: compliance, testing-pgsql, testing-mysql, testing-mysql8, testing-mssql, testing-sqlite, testing-e2e, release-latest, docker-linux-amd64-release-version, docker-linux-amd64-release-candidate-version, docker-linux-arm64-dry-run, docker-linux-arm64-release-version, docker-linux-arm64-release-candidate-version, docker-linux-arm64-release, docker-manifest-version, docker-manifest

Fix `organization` field being `null` in `GET /api/v1/teams/{id}` (#24694) (#24696)
  routers/api/v1/org/team.go
Due: compliance, testing-pgsql, testing-mysql, testing-mysql8, testing-mssql, testing-sqlite, testing-e2e, release-latest, docker-linux-amd64-release-version, docker-linux-amd64-release-candidate-version, docker-linux-arm64-dry-run, docker-linux-arm64-release-version, docker-linux-arm64-release-candidate-version, docker-linux-arm64-release, docker-manifest-version, docker-manifest

Add icon support for safari (#24697)
  routers/web/web.go
Due: compliance, testing-pgsql, testing-mysql, testing-mysql8, testing-mssql, testing-sqlite, testing-e2e, release-latest, docker-linux-amd64-release-version, docker-linux-amd64-release-candidate-version, docker-linux-arm64-dry-run, docker-linux-arm64-release-version, docker-linux-arm64-release-candidate-version, docker-linux-arm64-release, docker-manifest-version, docker-manifest

Improve button-ghost, remove tertiary button (#24692)
  templates/devtest/gitea-ui.tmpl
  templates/repo/branch/list.tmpl
  templates/repo/home.tmpl
  templates/user/settings/applications_oauth2_edit_form.tmpl
  web_src/css/base.css
  web_src/css/user.css
Due: compliance, testing-pgsql, testing-mysql, testing-mysql8, testing-mssql, testing-sqlite, testing-e2e, release-latest, docker-linux-amd64-release-version, docker-linux-amd64-release-candidate-version, docker-linux-arm64-dry-run, docker-linux-arm64-release-version, docker-linux-arm64-release-candidate-version, docker-linux-arm64-release, docker-manifest-version, docker-manifest
