Repository go-gitea/gitea: changes, and which Drone steps are due for each by the changed paths.
All: compliance, testing-pgsql, compliance-docs, testing-mysql, testing-mysql8, testing-mssql, testing-sqlite, testing-e2e, release-latest, docs, docker-linux-amd64-release-version, docker-linux-amd64-release-candidate-version, docker-linux-arm64-dry-run, docker-linux-arm64-release-version, docker-linux-arm64-release-candidate-version, docker-linux-arm64-release, docker-manifest-version, docker-manifest

Path conditions:
  compliance: any file but: docs/**, *.md
  testing-pgsql: any file but: docs/**
  compliance-docs: any of: docs/**, *.md
  testing-mysql: any file but: docs/**
  testing-mysql8: any file but: docs/**
  testing-mssql: any file but: docs/**
  testing-sqlite: any file but: docs/**
  testing-e2e: any file but: docs/**
  release-latest: any file but: docs/**
  docs: any of: docs/**
  docker-linux-amd64-release-version: any file but: docs/**
  docker-linux-amd64-release-candidate-version: any file but: docs/**
  docker-linux-arm64-dry-run: any file but: docs/**
  docker-linux-arm64-release-version: any file but: docs/**
  docker-linux-arm64-release-candidate-version: any file but: docs/**
  docker-linux-arm64-release: any file but: docs/**
  docker-manifest-version: any file but: docs/**
  docker-manifest: any file but: docs/**

fix
  models/issues/issue.go
Due: compliance, testing-pgsql, testing-mysql, testing-mysql8, testing-mssql, testing-sqlite, testing-e2e, release-latest, docker-linux-amd64-release-version, docker-linux-amd64-release-candidate-version, docker-linux-arm64-dry-run, docker-linux-arm64-release-version, docker-linux-arm64-release-candidate-version, docker-linux-arm64-release, docker-manifest-version, docker-manifest

remove lines
  docs/content/doc/contributing/guidelines-backend.en-us.md
  docs/content/doc/contributing/guidelines-backend.zh-cn.md
Due: compliance-docs, docs

fix comment and code, fix lint
  modules/graceful/manager.go
  modules/log/event_writer_base.go
  modules/log/init.go
  modules/notification/ui/ui.go
  modules/queue/workerqueue.go
Due: compliance, testing-pgsql, testing-mysql, testing-mysql8, testing-mssql, testing-sqlite, testing-e2e, release-latest, docker-linux-amd64-release-version, docker-linux-amd64-release-candidate-version, docker-linux-arm64-dry-run, docker-linux-arm64-release-version, docker-linux-arm64-release-candidate-version, docker-linux-arm64-release, docker-manifest-version, docker-manifest

fix
  modules/repository/license.go
Due: compliance, testing-pgsql, testing-mysql, testing-mysql8, testing-mssql, testing-sqlite, testing-e2e, release-latest, docker-linux-amd64-release-version, docker-linux-amd64-release-candidate-version, docker-linux-arm64-dry-run, docker-linux-arm64-release-version, docker-linux-arm64-release-candidate-version, docker-linux-arm64-release, docker-manifest-version, docker-manifest

Delete issueicon.tmpl
  templates/shared/issueicon.tmpl
Due: compliance, testing-pgsql, testing-mysql, testing-mysql8, testing-mssql, testing-sqlite, testing-e2e, release-latest, docker-linux-amd64-release-version, docker-linux-amd64-release-candidate-version, docker-linux-arm64-dry-run, docker-linux-arm64-release-version, docker-linux-arm64-release-candidate-version, docker-linux-arm64-release, docker-manifest-version, docker-manifest

avoid deadlock
  modules/process/manager.go
Due: compliance, testing-pgsql, testing-mysql, testing-mysql8, testing-mssql, testing-sqlite, testing-e2e, release-latest, docker-linux-amd64-release-version, docker-linux-amd64-release-candidate-version, docker-linux-arm64-dry-run, docker-linux-arm64-release-version, docker-linux-arm64-release-candidate-version, docker-linux-arm64-release, docker-manifest-version, docker-manifest

Run make generate-swagger
  templates/swagger/v1_json.tmpl
Due: compliance, testing-pgsql, testing-mysql, testing-mysql8, testing-mssql, testing-sqlite, testing-e2e, release-latest, docker-linux-amd64-release-version, docker-linux-amd64-release-candidate-version, docker-linux-arm64-dry-run, docker-linux-arm64-release-version, docker-linux-arm64-release-candidate-version, docker-linux-arm64-release, docker-manifest-version, docker-manifest

Use `shared/issueicon` template in projects (#24922)
  templates/projects/view.tmpl
  templates/repo/projects/view.tmpl
Due: compliance, testing-pgsql, testing-mysql, testing-mysql8, testing-mssql, testing-sqlite, testing-e2e, release-latest, docker-linux-amd64-release-version, docker-linux-amd64-release-candidate-version, docker-linux-arm64-dry-run, docker-linux-arm64-release-version, docker-linux-arm64-release-candidate-version, docker-linux-arm64-release, docker-manifest-version, docker-manifest

Remove outdated comment
  models/issues/issue.go
Due: compliance, testing-pgsql, testing-mysql, testing-mysql8, testing-mssql, testing-sqlite, testing-e2e, release-latest, docker-linux-amd64-release-version, docker-linux-amd64-release-candidate-version, docker-linux-arm64-dry-run, docker-linux-arm64-release-version, docker-linux-arm64-release-candidate-version, docker-linux-arm64-release, docker-manifest-version, docker-manifest

Use branch name when necessary
  modules/actions/workflows.go
  modules/git/ref.go
  modules/notification/indexer/indexer.go
  modules/repository/push.go
  routers/private/hook_post_receive.go
  routers/private/hook_pre_receive.go
  services/agit/agit.go
  services/mirror/mirror_pull.go
  services/repository/push.go
Due: compliance, testing-pgsql, testing-mysql, testing-mysql8, testing-mssql, testing-sqlite, testing-e2e, release-latest, docker-linux-amd64-release-version, docker-linux-amd64-release-candidate-version, docker-linux-arm64-dry-run, docker-linux-arm64-release-version, docker-linux-arm64-release-candidate-version, docker-linux-arm64-release, docker-manifest-version, docker-manifest

test script to check if repo size is reduced.
  docs/content/doc/administration/repo-size-limit.en-us.md
  tests/integration/git_test.go
Due: compliance, testing-pgsql, compliance-docs, testing-mysql, testing-mysql8, testing-mssql, testing-sqlite, testing-e2e, release-latest, docs, docker-linux-amd64-release-version, docker-linux-amd64-release-candidate-version, docker-linux-arm64-dry-run, docker-linux-arm64-release-version, docker-linux-arm64-release-candidate-version, docker-linux-arm64-release, docker-manifest-version, docker-manifest

refactor
  modules/git/ref.go
Due: compliance, testing-pgsql, testing-mysql, testing-mysql8, testing-mssql, testing-sqlite, testing-e2e, release-latest, docker-linux-amd64-release-version, docker-linux-amd64-release-candidate-version, docker-linux-arm64-dry-run, docker-linux-arm64-release-version, docker-linux-arm64-release-candidate-version, docker-linux-arm64-release, docker-manifest-version, docker-manifest

Add Link to Stars and Forks Page to Repo List
  templates/explore/repo_list.tmpl
Due: compliance, testing-pgsql, testing-mysql, testing-mysql8, testing-mssql, testing-sqlite, testing-e2e, release-latest, docker-linux-amd64-release-version, docker-linux-amd64-release-candidate-version, docker-linux-arm64-dry-run, docker-linux-arm64-release-version, docker-linux-arm64-release-candidate-version, docker-linux-arm64-release, docker-manifest-version, docker-manifest

Add the ability to pin Issues (#24406)
  custom/conf/app.example.ini
  docs/content/doc/administration/config-cheat-sheet.en-us.md
  models/issues/comment.go
  models/issues/issue.go
  models/migrations/migrations.go
  models/migrations/v1_20/v258.go
  modules/setting/repository.go
  modules/structs/issue.go
  modules/structs/pull.go
  modules/structs/repo.go
  options/locale/locale_en-US.ini
  routers/api/v1/api.go
  routers/api/v1/repo/issue_pin.go
  routers/api/v1/swagger/repo.go
  routers/web/repo/issue.go
  routers/web/repo/issue_pin.go
  routers/web/web.go
  services/convert/issue.go
  services/convert/pull.go
  services/issue/issue.go
  templates/repo/issue/list.tmpl
  templates/repo/issue/view_content/comments.tmpl
  templates/repo/issue/view_content/sidebar.tmpl
  templates/swagger/v1_json.tmpl
  tests/integration/api_issue_pin_test.go
  web_src/css/repo.css
  web_src/js/features/repo-issue-list.js
Due: compliance, testing-pgsql, compliance-docs, testing-mysql, testing-mysql8, testing-mssql, testing-sqlite, testing-e2e, release-latest, docs, docker-linux-amd64-release-version, docker-linux-amd64-release-candidate-version, docker-linux-arm64-dry-run, docker-linux-arm64-release-version, docker-linux-arm64-release-candidate-version, docker-linux-arm64-release, docker-manifest-version, docker-manifest

remove NewWorkerPoolQueueBySetting
  modules/queue/manager_test.go
  modules/queue/workerqueue.go
  modules/queue/workerqueue_test.go
  services/pull/check_test.go
Due: compliance, testing-pgsql, testing-mysql, testing-mysql8, testing-mssql, testing-sqlite, testing-e2e, release-latest, docker-linux-amd64-release-version, docker-linux-amd64-release-candidate-version, docker-linux-arm64-dry-run, docker-linux-arm64-release-version, docker-linux-arm64-release-candidate-version, docker-linux-arm64-release, docker-manifest-version, docker-manifest

Add comment for using git fetch instead of git remote update when mirroring
  services/mirror/mirror_pull.go
Due: compliance, testing-pgsql, testing-mysql, testing-mysql8, testing-mssql, testing-sqlite, testing-e2e, release-latest, docker-linux-amd64-release-version, docker-linux-amd64-release-candidate-version, docker-linux-arm64-dry-run, docker-linux-arm64-release-version, docker-linux-arm64-release-candidate-version, docker-linux-arm64-release, docker-manifest-version, docker-manifest

Added codeowners.go file which contains ParseCodeowners function. Returns a list of individual owners and teams associated with changed files that are passed into it.
  go.mod
  go.sum
  services/issue/codeowners.go
  services/issue/issue.go
Due: compliance, testing-pgsql, testing-mysql, testing-mysql8, testing-mssql, testing-sqlite, testing-e2e, release-latest, docker-linux-amd64-release-version, docker-linux-amd64-release-candidate-version, docker-linux-arm64-dry-run, docker-linux-arm64-release-version, docker-linux-arm64-release-candidate-version, docker-linux-arm64-release, docker-manifest-version, docker-manifest

Merge two translation contributing documents (#23939)
  docs/content/doc/contributing/guidelines-frontend.en-us.md
  docs/content/doc/contributing/guidelines-refactoring.en-us.md
  docs/content/doc/contributing/localization.de-de.md
  docs/content/doc/contributing/localization.en-us.md
  docs/content/doc/contributing/localization.zh-cn.md
  docs/content/doc/contributing/localization.zh-tw.md
  docs/content/doc/contributing/translation.en-us.md
Due: compliance-docs, docs

move variable
  modules/git/ref.go
  modules/git/repo_branch.go
Due: compliance, testing-pgsql, testing-mysql, testing-mysql8, testing-mssql, testing-sqlite, testing-e2e, release-latest, docker-linux-amd64-release-version, docker-linux-amd64-release-candidate-version, docker-linux-arm64-dry-run, docker-linux-arm64-release-version, docker-linux-arm64-release-candidate-version, docker-linux-arm64-release, docker-manifest-version, docker-manifest

Fix documentation ref
  docs/content/doc/development/hacking-on-gitea.zh-cn.md
  docs/content/doc/usage/actions/comparison.zh-cn.md
  docs/content/doc/usage/actions/quickstart.zh-cn.md
  docs/content/doc/usage/packages/alpine.zh-cn.md
  docs/content/doc/usage/packages/overview.zh-cn.md
Due: compliance-docs, docs

Add Chinese docs for help, contribution and development (#24925)
  docs/content/doc/contributing/guidelines-backend.en-us.md
  docs/content/doc/contributing/guidelines-backend.zh-cn.md
  docs/content/doc/contributing/guidelines-frontend.zh-cn.md
  docs/content/doc/contributing/guidelines-refactoring.zh-cn.md
  docs/content/doc/contributing/translation.zh-cn.md
  docs/content/doc/development/integrations.zh-cn.md
  docs/content/doc/development/migrations.zh-cn.md
  docs/content/doc/help/faq.zh-cn.md
Due: compliance-docs, docs

Add make docs test on ci
  .github/workflows/pull-compliance-docs.yml
Due: compliance, testing-pgsql, testing-mysql, testing-mysql8, testing-mssql, testing-sqlite, testing-e2e, release-latest, docker-linux-amd64-release-version, docker-linux-amd64-release-candidate-version, docker-linux-arm64-dry-run, docker-linux-arm64-release-version, docker-linux-arm64-release-candidate-version, docker-linux-arm64-release, docker-manifest-version, docker-manifest

Merge two translation contributing documents (#23939) (#24933)
  docs/content/doc/contributing/guidelines-frontend.en-us.md
  docs/content/doc/contributing/guidelines-refactoring.en-us.md
  docs/content/doc/contributing/localization.de-de.md
  docs/content/doc/contributing/localization.en-us.md
  docs/content/doc/contributing/localization.zh-cn.md
  docs/content/doc/contributing/localization.zh-tw.md
  docs/content/doc/contributing/translation.en-us.md
Due: compliance-docs, docs

Fix ref
  docs/content/doc/help/faq.zh-cn.md
Due: compliance-docs, docs

Fix documentation ref (#24934)
  .github/workflows/pull-compliance-docs.yml
  docs/content/doc/development/hacking-on-gitea.zh-cn.md
  docs/content/doc/help/faq.zh-cn.md
  docs/content/doc/usage/actions/comparison.zh-cn.md
  docs/content/doc/usage/actions/quickstart.zh-cn.md
  docs/content/doc/usage/packages/alpine.zh-cn.md
  docs/content/doc/usage/packages/overview.zh-cn.md
Due: compliance, testing-pgsql, compliance-docs, testing-mysql, testing-mysql8, testing-mssql, testing-sqlite, testing-e2e, release-latest, docs, docker-linux-amd64-release-version, docker-linux-amd64-release-candidate-version, docker-linux-arm64-dry-run, docker-linux-arm64-release-version, docker-linux-arm64-release-candidate-version, docker-linux-arm64-release, docker-manifest-version, docker-manifest

Add Link to Stars and Forks Page to Repo List (#24931)
  templates/explore/repo_list.tmpl
Due: compliance, testing-pgsql, testing-mysql, testing-mysql8, testing-mssql, testing-sqlite, testing-e2e, release-latest, docker-linux-amd64-release-version, docker-linux-amd64-release-candidate-version, docker-linux-arm64-dry-run, docker-linux-arm64-release-version, docker-linux-arm64-release-candidate-version, docker-linux-arm64-release, docker-manifest-version, docker-manifest

Add parser support for no-owners codeowners rule
  services/issue/codeowners.go
  services/issue/issue.go
Due: compliance, testing-pgsql, testing-mysql, testing-mysql8, testing-mssql, testing-sqlite, testing-e2e, release-latest, docker-linux-amd64-release-version, docker-linux-amd64-release-candidate-version, docker-linux-arm64-dry-run, docker-linux-arm64-release-version, docker-linux-arm64-release-candidate-version, docker-linux-arm64-release, docker-manifest-version, docker-manifest

Fix small linting errors in codeowners.go
  services/issue/codeowners.go
Due: compliance, testing-pgsql, testing-mysql, testing-mysql8, testing-mssql, testing-sqlite, testing-e2e, release-latest, docker-linux-amd64-release-version, docker-linux-amd64-release-candidate-version, docker-linux-arm64-dry-run, docker-linux-arm64-release-version, docker-linux-arm64-release-candidate-version, docker-linux-arm64-release, docker-manifest-version, docker-manifest

Add octicon-alert-fill svg
  web_src/js/svg.js
Due: compliance, testing-pgsql, testing-mysql, testing-mysql8, testing-mssql, testing-sqlite, testing-e2e, release-latest, docker-linux-amd64-release-version, docker-linux-amd64-release-candidate-version, docker-linux-arm64-dry-run, docker-linux-arm64-release-version, docker-linux-arm64-release-candidate-version, docker-linux-arm64-release, docker-manifest-version, docker-manifest

Show outdated comments in files changed view
  models/issues/comment_code.go
  options/locale/locale_en-US.ini
  templates/repo/diff/conversation.tmpl
Due: compliance, testing-pgsql, testing-mysql, testing-mysql8, testing-mssql, testing-sqlite, testing-e2e, release-latest, docker-linux-amd64-release-version, docker-linux-amd64-release-candidate-version, docker-linux-arm64-dry-run, docker-linux-arm64-release-version, docker-linux-arm64-release-candidate-version, docker-linux-arm64-release, docker-manifest-version, docker-manifest

Fix unit tests
  services/gitdiff/gitdiff_test.go
Due: compliance, testing-pgsql, testing-mysql, testing-mysql8, testing-mssql, testing-sqlite, testing-e2e, release-latest, docker-linux-amd64-release-version, docker-linux-amd64-release-candidate-version, docker-linux-arm64-dry-run, docker-linux-arm64-release-version, docker-linux-arm64-release-candidate-version, docker-linux-arm64-release, docker-manifest-version, docker-manifest

Added unit tests and fixed a mapping bug
  services/issue/codeowners.go
  services/issue/codeowners_test.go
  services/issue/custom/conf/app.ini
Due: compliance, testing-pgsql, testing-mysql, testing-mysql8, testing-mssql, testing-sqlite, testing-e2e, release-latest, docker-linux-amd64-release-version, docker-linux-amd64-release-candidate-version, docker-linux-arm64-dry-run, docker-linux-arm64-release-version, docker-linux-arm64-release-candidate-version, docker-linux-arm64-release, docker-manifest-version, docker-manifest

remove obsolete test file
  tests/integration/repofiles_delete_test.go
Due: compliance, testing-pgsql, testing-mysql, testing-mysql8, testing-mssql, testing-sqlite, testing-e2e, release-latest, docker-linux-amd64-release-version, docker-linux-amd64-release-candidate-version, docker-linux-arm64-dry-run, docker-linux-arm64-release-version, docker-linux-arm64-release-candidate-version, docker-linux-arm64-release, docker-manifest-version, docker-manifest

fix tests
  routers/api/v1/repo/file.go
  tests/integration/api_repo_files_change_test.go
Due: compliance, testing-pgsql, testing-mysql, testing-mysql8, testing-mssql, testing-sqlite, testing-e2e, release-latest, docker-linux-amd64-release-version, docker-linux-amd64-release-candidate-version, docker-linux-arm64-dry-run, docker-linux-arm64-release-version, docker-linux-arm64-release-candidate-version, docker-linux-arm64-release, docker-manifest-version, docker-manifest

fix issues
  modules/structs/repo_file.go
  routers/api/v1/swagger/options.go
  routers/api/v1/swagger/repo.go
  services/repository/files/update.go
  templates/swagger/v1_json.tmpl
Due: compliance, testing-pgsql, testing-mysql, testing-mysql8, testing-mssql, testing-sqlite, testing-e2e, release-latest, docker-linux-amd64-release-version, docker-linux-amd64-release-candidate-version, docker-linux-arm64-dry-run, docker-linux-arm64-release-version, docker-linux-arm64-release-candidate-version, docker-linux-arm64-release, docker-manifest-version, docker-manifest

add multiple file api
  modules/structs/repo_file.go
  routers/api/v1/api.go
  routers/api/v1/repo/file.go
  routers/api/v1/swagger/repo.go
  routers/web/repo/editor.go
  services/repository/files/delete.go
  services/repository/files/update.go
  templates/swagger/v1_json.tmpl
  tests/integration/api_repo_file_helpers.go
  tests/integration/pull_merge_test.go
  tests/integration/pull_update_test.go
  tests/integration/repofiles_change_test.go
  tests/integration/repofiles_delete_test.go
Due: compliance, testing-pgsql, testing-mysql, testing-mysql8, testing-mssql, testing-sqlite, testing-e2e, release-latest, docker-linux-amd64-release-version, docker-linux-amd64-release-candidate-version, docker-linux-arm64-dry-run, docker-linux-arm64-release-version, docker-linux-arm64-release-candidate-version, docker-linux-arm64-release, docker-manifest-version, docker-manifest

add api test, informative commit messages
  routers/api/v1/repo/file.go
  tests/integration/api_repo_files_change_test.go
Due: compliance, testing-pgsql, testing-mysql, testing-mysql8, testing-mssql, testing-sqlite, testing-e2e, release-latest, docker-linux-amd64-release-version, docker-linux-amd64-release-candidate-version, docker-linux-arm64-dry-run, docker-linux-arm64-release-version, docker-linux-arm64-release-candidate-version, docker-linux-arm64-release, docker-manifest-version, docker-manifest

Added syntax checks for users
  services/issue/codeowners.go
  services/issue/codeowners_test.go
Due: compliance, testing-pgsql, testing-mysql, testing-mysql8, testing-mssql, testing-sqlite, testing-e2e, release-latest, docker-linux-amd64-release-version, docker-linux-amd64-release-candidate-version, docker-linux-arm64-dry-run, docker-linux-arm64-release-version, docker-linux-arm64-release-candidate-version, docker-linux-arm64-release, docker-manifest-version, docker-manifest

Add logging in issue service (that uses codeowners.go)
  services/issue/codeowners_test.go
  services/issue/issue.go
  services/pull/pull.go
Due: compliance, testing-pgsql, testing-mysql, testing-mysql8, testing-mssql, testing-sqlite, testing-e2e, release-latest, docker-linux-amd64-release-version, docker-linux-amd64-release-candidate-version, docker-linux-arm64-dry-run, docker-linux-arm64-release-version, docker-linux-arm64-release-candidate-version, docker-linux-arm64-release, docker-manifest-version, docker-manifest
