Repository go-gitea/gitea: changes, and which Drone steps are due for each by the changed paths.
All: compliance, testing-pgsql, compliance-docs, testing-mysql, testing-mysql8, testing-mssql, testing-sqlite, testing-e2e, release-latest, docs, docker-linux-amd64-release-version, docker-linux-amd64-release-candidate-version, docker-linux-arm64-dry-run, docker-linux-arm64-release-version, docker-linux-arm64-release-candidate-version, docker-linux-arm64-release, docker-manifest-version, docker-manifest

Path conditions:
  compliance: any file but: docs/**, *.md
  testing-pgsql: any file but: docs/**
  compliance-docs: any of: docs/**, *.md
  testing-mysql: any file but: docs/**
  testing-mysql8: any file but: docs/**
  testing-mssql: any file but: docs/**
  testing-sqlite: any file but: docs/**
  testing-e2e: any file but: docs/**
  release-latest: any file but: docs/**
  docs: any of: docs/**
  docker-linux-amd64-release-version: any file but: docs/**
  docker-linux-amd64-release-candidate-version: any file but: docs/**
  docker-linux-arm64-dry-run: any file but: docs/**
  docker-linux-arm64-release-version: any file but: docs/**
  docker-linux-arm64-release-candidate-version: any file but: docs/**
  docker-linux-arm64-release: any file but: docs/**
  docker-manifest-version: any file but: docs/**
  docker-manifest: any file but: docs/**

mail template
  docs/content/doc/administration/mail-templates.zh-cn.md
Due: compliance-docs, docs

improve translation
  docs/content/doc/administration/command-line.zh-cn.md
Due: compliance-docs, docs

fetch task with index
  models/actions/run.go
  routers/api/actions/runner/runner.go
  routers/init.go
Due: compliance, testing-pgsql, testing-mysql, testing-mysql8, testing-mssql, testing-sqlite, testing-e2e, release-latest, docker-linux-amd64-release-version, docker-linux-amd64-release-candidate-version, docker-linux-arm64-dry-run, docker-linux-arm64-release-version, docker-linux-arm64-release-candidate-version, docker-linux-arm64-release, docker-manifest-version, docker-manifest

improve translation
  docs/content/doc/administration/email-setup.zh-cn.md
Due: compliance-docs, docs

smtp
  modules/log/event_writer_smtp.go
  modules/log/event_writer_smtp_test.go
  modules/setting/log.go
Due: compliance, testing-pgsql, testing-mysql, testing-mysql8, testing-mssql, testing-sqlite, testing-e2e, release-latest, docker-linux-amd64-release-version, docker-linux-amd64-release-candidate-version, docker-linux-arm64-dry-run, docker-linux-arm64-release-version, docker-linux-arm64-release-candidate-version, docker-linux-arm64-release, docker-manifest-version, docker-manifest

Do not call nil handler for a dummy queue (#24880)
  modules/queue/workerqueue.go
Due: compliance, testing-pgsql, testing-mysql, testing-mysql8, testing-mssql, testing-sqlite, testing-e2e, release-latest, docker-linux-amd64-release-version, docker-linux-amd64-release-candidate-version, docker-linux-arm64-dry-run, docker-linux-arm64-release-version, docker-linux-arm64-release-candidate-version, docker-linux-arm64-release, docker-manifest-version, docker-manifest

fix
  modules/log/logger_test.go
Due: compliance, testing-pgsql, testing-mysql, testing-mysql8, testing-mssql, testing-sqlite, testing-e2e, release-latest, docker-linux-amd64-release-version, docker-linux-amd64-release-candidate-version, docker-linux-arm64-dry-run, docker-linux-arm64-release-version, docker-linux-arm64-release-candidate-version, docker-linux-arm64-release, docker-manifest-version, docker-manifest

make hideOnClick=true for tooltip
  web_src/js/features/common-global.js
  web_src/js/features/comp/ReactionSelector.js
  web_src/js/features/repo-code.js
  web_src/js/modules/tippy.js
Due: compliance, testing-pgsql, testing-mysql, testing-mysql8, testing-mssql, testing-sqlite, testing-e2e, release-latest, docker-linux-amd64-release-version, docker-linux-amd64-release-candidate-version, docker-linux-arm64-dry-run, docker-linux-arm64-release-version, docker-linux-arm64-release-candidate-version, docker-linux-arm64-release, docker-manifest-version, docker-manifest

Update `CONTRIBUTING.md` (#24492)
  CONTRIBUTING.md
Due: testing-pgsql, compliance-docs, testing-mysql, testing-mysql8, testing-mssql, testing-sqlite, testing-e2e, release-latest, docker-linux-amd64-release-version, docker-linux-amd64-release-candidate-version, docker-linux-arm64-dry-run, docker-linux-arm64-release-version, docker-linux-arm64-release-candidate-version, docker-linux-arm64-release, docker-manifest-version, docker-manifest

add more tests
  modules/setting/config_env.go
  modules/setting/config_env_test.go
Due: compliance, testing-pgsql, testing-mysql, testing-mysql8, testing-mssql, testing-sqlite, testing-e2e, release-latest, docker-linux-amd64-release-version, docker-linux-amd64-release-candidate-version, docker-linux-arm64-dry-run, docker-linux-arm64-release-version, docker-linux-arm64-release-candidate-version, docker-linux-arm64-release, docker-manifest-version, docker-manifest

Run stylelint on .vue files (#24865)
  .stylelintrc.yaml
  Makefile
  package-lock.json
  package.json
  web_src/js/components/RepoActionView.vue
Due: compliance, testing-pgsql, testing-mysql, testing-mysql8, testing-mssql, testing-sqlite, testing-e2e, release-latest, docker-linux-amd64-release-version, docker-linux-amd64-release-candidate-version, docker-linux-arm64-dry-run, docker-linux-arm64-release-version, docker-linux-arm64-release-candidate-version, docker-linux-arm64-release, docker-manifest-version, docker-manifest

fix
  routers/api/v1/repo/issue.go
  routers/web/repo/issue.go
  services/issue/issue.go
Due: compliance, testing-pgsql, testing-mysql, testing-mysql8, testing-mssql, testing-sqlite, testing-e2e, release-latest, docker-linux-amd64-release-version, docker-linux-amd64-release-candidate-version, docker-linux-arm64-dry-run, docker-linux-arm64-release-version, docker-linux-arm64-release-candidate-version, docker-linux-arm64-release, docker-manifest-version, docker-manifest

The size unit of measurements should be mentioned in the config and documentation file
  custom/conf/app.example.ini
  docs/content/doc/administration/config-cheat-sheet.en-us.md
Due: compliance, testing-pgsql, compliance-docs, testing-mysql, testing-mysql8, testing-mssql, testing-sqlite, testing-e2e, release-latest, docs, docker-linux-amd64-release-version, docker-linux-amd64-release-candidate-version, docker-linux-arm64-dry-run, docker-linux-arm64-release-version, docker-linux-arm64-release-candidate-version, docker-linux-arm64-release, docker-manifest-version, docker-manifest

fix
  modules/setting/setting.go
  modules/templates/htmlrenderer.go
  modules/templates/mailer.go
Due: compliance, testing-pgsql, testing-mysql, testing-mysql8, testing-mssql, testing-sqlite, testing-e2e, release-latest, docker-linux-amd64-release-version, docker-linux-amd64-release-candidate-version, docker-linux-arm64-dry-run, docker-linux-arm64-release-version, docker-linux-arm64-release-candidate-version, docker-linux-arm64-release, docker-manifest-version, docker-manifest

Remove unnecessary prefix usage
  docs/content/doc/administration/backup-and-restore.en-us.md
  docs/content/doc/administration/backup-and-restore.zh-cn.md
  docs/content/doc/administration/command-line.en-us.md
  docs/content/doc/administration/email-setup.en-us.md
  docs/content/doc/administration/fail2ban-setup.en-us.md
  docs/content/doc/administration/git-lfs-support.en-us.md
  docs/content/doc/administration/https-support.en-us.md
  docs/content/doc/administration/reverse-proxies.en-us.md
  docs/content/doc/administration/reverse-proxies.zh-cn.md
  docs/content/doc/usage/agit-support.en-us.md
  docs/content/doc/usage/issue-pull-request-templates.en-us.md
  docs/content/doc/usage/issue-pull-request-templates.zh-cn.md
  docs/content/doc/usage/labels.en-us.md
  docs/content/doc/usage/linked-references.en-us.md
  docs/content/doc/usage/merge-message-templates.en-us.md
  docs/content/doc/usage/pull-request.en-us.md
  docs/content/doc/usage/pull-request.zh-cn.md
  docs/content/doc/usage/push.en-us.md
Due: compliance-docs, docs

Fix flakey test in logger test (#24883)
  modules/log/logger_test.go
Due: compliance, testing-pgsql, testing-mysql, testing-mysql8, testing-mssql, testing-sqlite, testing-e2e, release-latest, docker-linux-amd64-release-version, docker-linux-amd64-release-candidate-version, docker-linux-arm64-dry-run, docker-linux-arm64-release-version, docker-linux-arm64-release-candidate-version, docker-linux-arm64-release, docker-manifest-version, docker-manifest

Remove another Advanced: from title
  docs/content/doc/administration/logging-documentation.en-us.md
  docs/content/doc/administration/search-engines-indexation.en-us.md
Due: compliance-docs, docs

Support changing git config through `app.ini`, use `diff.algorithm=histogram` by default (#24860)
  custom/conf/app.example.ini
  docs/content/doc/administration/config-cheat-sheet.en-us.md
  docs/content/doc/administration/customizing-gitea.en-us.md
  modules/git/git.go
  modules/git/git_test.go
  modules/setting/git.go
  modules/setting/git_test.go
Due: compliance, testing-pgsql, compliance-docs, testing-mysql, testing-mysql8, testing-mssql, testing-sqlite, testing-e2e, release-latest, docs, docker-linux-amd64-release-version, docker-linux-amd64-release-candidate-version, docker-linux-arm64-dry-run, docker-linux-arm64-release-version, docker-linux-arm64-release-candidate-version, docker-linux-arm64-release, docker-manifest-version, docker-manifest

Remove unnecessary prefix usage (#24888)
  docs/content/doc/administration/backup-and-restore.en-us.md
  docs/content/doc/administration/backup-and-restore.zh-cn.md
  docs/content/doc/administration/command-line.en-us.md
  docs/content/doc/administration/email-setup.en-us.md
  docs/content/doc/administration/fail2ban-setup.en-us.md
  docs/content/doc/administration/git-lfs-support.en-us.md
  docs/content/doc/administration/https-support.en-us.md
  docs/content/doc/administration/logging-documentation.en-us.md
  docs/content/doc/administration/reverse-proxies.en-us.md
  docs/content/doc/administration/reverse-proxies.zh-cn.md
  docs/content/doc/administration/search-engines-indexation.en-us.md
  docs/content/doc/usage/agit-support.en-us.md
  docs/content/doc/usage/issue-pull-request-templates.en-us.md
  docs/content/doc/usage/issue-pull-request-templates.zh-cn.md
  docs/content/doc/usage/labels.en-us.md
  docs/content/doc/usage/linked-references.en-us.md
  docs/content/doc/usage/merge-message-templates.en-us.md
  docs/content/doc/usage/pull-request.en-us.md
  docs/content/doc/usage/pull-request.zh-cn.md
  docs/content/doc/usage/push.en-us.md
Due: compliance-docs, docs

update variable name
  modules/indexer/code/indexer.go
  modules/setting/indexer.go
Due: compliance, testing-pgsql, testing-mysql, testing-mysql8, testing-mssql, testing-sqlite, testing-e2e, release-latest, docker-linux-amd64-release-version, docker-linux-amd64-release-candidate-version, docker-linux-arm64-dry-run, docker-linux-arm64-release-version, docker-linux-arm64-release-candidate-version, docker-linux-arm64-release, docker-manifest-version, docker-manifest

Make DeleteIssue use correct context (#24885)
  routers/api/v1/repo/issue.go
  routers/web/repo/issue.go
  services/issue/issue.go
Due: compliance, testing-pgsql, testing-mysql, testing-mysql8, testing-mssql, testing-sqlite, testing-e2e, release-latest, docker-linux-amd64-release-version, docker-linux-amd64-release-candidate-version, docker-linux-arm64-dry-run, docker-linux-arm64-release-version, docker-linux-arm64-release-candidate-version, docker-linux-arm64-release, docker-manifest-version, docker-manifest

Delete publish-docs.yml
  .github/workflows/publish-docs.yml
Due: compliance, testing-pgsql, testing-mysql, testing-mysql8, testing-mssql, testing-sqlite, testing-e2e, release-latest, docker-linux-amd64-release-version, docker-linux-amd64-release-candidate-version, docker-linux-arm64-dry-run, docker-linux-arm64-release-version, docker-linux-arm64-release-candidate-version, docker-linux-arm64-release, docker-manifest-version, docker-manifest

build docs on each PR
  .github/workflows/pull-compliance-docs.yml
Due: compliance, testing-pgsql, testing-mysql, testing-mysql8, testing-mssql, testing-sqlite, testing-e2e, release-latest, docker-linux-amd64-release-version, docker-linux-amd64-release-candidate-version, docker-linux-arm64-dry-run, docker-linux-arm64-release-version, docker-linux-arm64-release-candidate-version, docker-linux-arm64-release, docker-manifest-version, docker-manifest

Update pull-compliance-docsignore.yml
  .github/workflows/pull-compliance-docsignore.yml
Due: compliance, testing-pgsql, testing-mysql, testing-mysql8, testing-mssql, testing-sqlite, testing-e2e, release-latest, docker-linux-amd64-release-version, docker-linux-amd64-release-candidate-version, docker-linux-arm64-dry-run, docker-linux-arm64-release-version, docker-linux-arm64-release-candidate-version, docker-linux-arm64-release, docker-manifest-version, docker-manifest

Fix double border and adjust width for user profile page (#24870)
  templates/user/profile.tmpl
Due: compliance, testing-pgsql, testing-mysql, testing-mysql8, testing-mssql, testing-sqlite, testing-e2e, release-latest, docker-linux-amd64-release-version, docker-linux-amd64-release-candidate-version, docker-linux-arm64-dry-run, docker-linux-arm64-release-version, docker-linux-arm64-release-candidate-version, docker-linux-arm64-release, docker-manifest-version, docker-manifest

Update modules/storage/minio.go
  modules/storage/minio.go
Due: compliance, testing-pgsql, testing-mysql, testing-mysql8, testing-mssql, testing-sqlite, testing-e2e, release-latest, docker-linux-amd64-release-version, docker-linux-amd64-release-candidate-version, docker-linux-arm64-dry-run, docker-linux-arm64-release-version, docker-linux-arm64-release-candidate-version, docker-linux-arm64-release, docker-manifest-version, docker-manifest

Remove publish docs CI workflow (#24889)
  .github/workflows/publish-docs.yml
Due: compliance, testing-pgsql, testing-mysql, testing-mysql8, testing-mssql, testing-sqlite, testing-e2e, release-latest, docker-linux-amd64-release-version, docker-linux-amd64-release-candidate-version, docker-linux-arm64-dry-run, docker-linux-arm64-release-version, docker-linux-arm64-release-candidate-version, docker-linux-arm64-release, docker-manifest-version, docker-manifest

restore numeric values in font_i18n.css
  .stylelintrc.yaml
  web_src/css/font_i18n.css
Due: compliance, testing-pgsql, testing-mysql, testing-mysql8, testing-mssql, testing-sqlite, testing-e2e, release-latest, docker-linux-amd64-release-version, docker-linux-amd64-release-candidate-version, docker-linux-arm64-dry-run, docker-linux-arm64-release-version, docker-linux-arm64-release-candidate-version, docker-linux-arm64-release, docker-manifest-version, docker-manifest

700 -> 600
  web_src/css/font_i18n.css
Due: compliance, testing-pgsql, testing-mysql, testing-mysql8, testing-mssql, testing-sqlite, testing-e2e, release-latest, docker-linux-amd64-release-version, docker-linux-amd64-release-candidate-version, docker-linux-arm64-dry-run, docker-linux-arm64-release-version, docker-linux-arm64-release-candidate-version, docker-linux-arm64-release, docker-manifest-version, docker-manifest

Add functions to auto-add hardcoded user reviewers to PRs
  services/issue/issue.go
  services/pull/pull.go
Due: compliance, testing-pgsql, testing-mysql, testing-mysql8, testing-mssql, testing-sqlite, testing-e2e, release-latest, docker-linux-amd64-release-version, docker-linux-amd64-release-candidate-version, docker-linux-arm64-dry-run, docker-linux-arm64-release-version, docker-linux-arm64-release-candidate-version, docker-linux-arm64-release, docker-manifest-version, docker-manifest

Add validations.required check to dropdown field (#24849)
  templates/repo/issue/fields/dropdown.tmpl
Due: compliance, testing-pgsql, testing-mysql, testing-mysql8, testing-mssql, testing-sqlite, testing-e2e, release-latest, docker-linux-amd64-release-version, docker-linux-amd64-release-candidate-version, docker-linux-arm64-dry-run, docker-linux-arm64-release-version, docker-linux-arm64-release-candidate-version, docker-linux-arm64-release, docker-manifest-version, docker-manifest

fix
  templates/repo/projects/view.tmpl
Due: compliance, testing-pgsql, testing-mysql, testing-mysql8, testing-mssql, testing-sqlite, testing-e2e, release-latest, docker-linux-amd64-release-version, docker-linux-amd64-release-candidate-version, docker-linux-arm64-dry-run, docker-linux-arm64-release-version, docker-linux-arm64-release-candidate-version, docker-linux-arm64-release, docker-manifest-version, docker-manifest

Fix logger refactoring regression: manager logging add (#24847)
  routers/private/manager.go
Due: compliance, testing-pgsql, testing-mysql, testing-mysql8, testing-mssql, testing-sqlite, testing-e2e, release-latest, docker-linux-amd64-release-version, docker-linux-amd64-release-candidate-version, docker-linux-arm64-dry-run, docker-linux-arm64-release-version, docker-linux-arm64-release-candidate-version, docker-linux-arm64-release, docker-manifest-version, docker-manifest

Rename docs packages title from xxx Packages Repository -> xxx Package Registry
  docs/content/doc/usage/packages/alpine.en-us.md
  docs/content/doc/usage/packages/cargo.en-us.md
  docs/content/doc/usage/packages/chef.en-us.md
  docs/content/doc/usage/packages/composer.en-us.md
  docs/content/doc/usage/packages/conan.en-us.md
  docs/content/doc/usage/packages/conda.en-us.md
  docs/content/doc/usage/packages/cran.en-us.md
  docs/content/doc/usage/packages/debian.en-us.md
  docs/content/doc/usage/packages/generic.en-us.md
  docs/content/doc/usage/packages/go.en-us.md
  docs/content/doc/usage/packages/maven.en-us.md
  docs/content/doc/usage/packages/npm.en-us.md
  docs/content/doc/usage/packages/nuget.en-us.md
  docs/content/doc/usage/packages/pub.en-us.md
  docs/content/doc/usage/packages/pypi.en-us.md
  docs/content/doc/usage/packages/rpm.en-us.md
  docs/content/doc/usage/packages/rubygems.en-us.md
  docs/content/doc/usage/packages/swift.en-us.md
  docs/content/doc/usage/packages/vagrant.en-us.md
Due: compliance-docs, docs

fix aliases
  docs/content/doc/administration/adding-legal-pages.zh-cn.md
  docs/content/doc/administration/cmd-embedded.zh-cn.md
  docs/content/doc/administration/command-line.zh-cn.md
  docs/content/doc/administration/email-setup.zh-cn.md
  docs/content/doc/administration/external-renderers.zh-cn.md
  docs/content/doc/administration/git-lfs-support.zh-cn.md
  docs/content/doc/administration/logging-config.zh-cn.md
  docs/content/doc/administration/mail-templates.zh-cn.md
  docs/content/doc/administration/repo-indexer.zh-cn.md
  docs/content/doc/administration/search-engines-indexation.zh-cn.md
  docs/content/doc/administration/signing.zh-cn.md
Due: compliance-docs, docs

lint
  docs/content/doc/administration/command-line.zh-cn.md
  docs/content/doc/administration/mail-templates.zh-cn.md
Due: compliance-docs, docs

update date
  docs/content/doc/administration/command-line.zh-cn.md
  docs/content/doc/administration/logging-config.zh-cn.md
  docs/content/doc/administration/repo-indexer.zh-cn.md
Due: compliance-docs, docs

Fix `@font-face` overrides (#24855)
  .stylelintrc.yaml
  web_src/css/font_i18n.css
Due: compliance, testing-pgsql, testing-mysql, testing-mysql8, testing-mssql, testing-sqlite, testing-e2e, release-latest, docker-linux-amd64-release-version, docker-linux-amd64-release-candidate-version, docker-linux-arm64-dry-run, docker-linux-arm64-release-version, docker-linux-arm64-release-candidate-version, docker-linux-arm64-release, docker-manifest-version, docker-manifest

fix translation of PR
  docs/content/doc/administration/mail-templates.zh-cn.md
  docs/content/doc/administration/signing.zh-cn.md
Due: compliance-docs, docs

`zh-cn` translation for administration docs (#24881)
  docs/content/doc/administration/adding-legal-pages.zh-cn.md
  docs/content/doc/administration/cmd-embedded.zh-cn.md
  docs/content/doc/administration/command-line.zh-cn.md
  docs/content/doc/administration/email-setup.zh-cn.md
  docs/content/doc/administration/external-renderers.zh-cn.md
  docs/content/doc/administration/git-lfs-support.zh-cn.md
  docs/content/doc/administration/logging-config.zh-cn.md
  docs/content/doc/administration/mail-templates.zh-cn.md
  docs/content/doc/administration/repo-indexer.zh-cn.md
  docs/content/doc/administration/search-engines-indexation.zh-cn.md
  docs/content/doc/administration/signing.zh-cn.md
Due: compliance-docs, docs
