Repository go-gitea/gitea: changes, and which Drone steps are due for each by the changed paths.
All: compliance, testing-pgsql, compliance-docs, testing-mysql, testing-mysql8, testing-mssql, testing-sqlite, testing-e2e, release-latest, docs, docker-linux-amd64-release-version, docker-linux-amd64-release-candidate-version, docker-linux-arm64-dry-run, docker-linux-arm64-release-version, docker-linux-arm64-release-candidate-version, docker-linux-arm64-release, docker-manifest-version, docker-manifest

Path conditions:
  compliance: any file but: docs/**, *.md
  testing-pgsql: any file but: docs/**
  compliance-docs: any of: docs/**, *.md
  testing-mysql: any file but: docs/**
  testing-mysql8: any file but: docs/**
  testing-mssql: any file but: docs/**
  testing-sqlite: any file but: docs/**
  testing-e2e: any file but: docs/**
  release-latest: any file but: docs/**
  docs: any of: docs/**
  docker-linux-amd64-release-version: any file but: docs/**
  docker-linux-amd64-release-candidate-version: any file but: docs/**
  docker-linux-arm64-dry-run: any file but: docs/**
  docker-linux-arm64-release-version: any file but: docs/**
  docker-linux-arm64-release-candidate-version: any file but: docs/**
  docker-linux-arm64-release: any file but: docs/**
  docker-manifest-version: any file but: docs/**
  docker-manifest: any file but: docs/**

rename filename and function name
  web_src/js/features/actions.js
  web_src/js/index.js
Due: compliance, testing-pgsql, testing-mysql, testing-mysql8, testing-mssql, testing-sqlite, testing-e2e, release-latest, docker-linux-amd64-release-version, docker-linux-amd64-release-candidate-version, docker-linux-arm64-dry-run, docker-linux-arm64-release-version, docker-linux-arm64-release-candidate-version, docker-linux-arm64-release, docker-manifest-version, docker-manifest

add test
  models/actions/run.go
  routers/api/actions/runner/runner.go
  routers/init.go
Due: compliance, testing-pgsql, testing-mysql, testing-mysql8, testing-mssql, testing-sqlite, testing-e2e, release-latest, docker-linux-amd64-release-version, docker-linux-amd64-release-candidate-version, docker-linux-arm64-dry-run, docker-linux-arm64-release-version, docker-linux-arm64-release-candidate-version, docker-linux-arm64-release, docker-manifest-version, docker-manifest

delete comment
  routers/web/repo/setting/variables.go
Due: compliance, testing-pgsql, testing-mysql, testing-mysql8, testing-mssql, testing-sqlite, testing-e2e, release-latest, docker-linux-amd64-release-version, docker-linux-amd64-release-candidate-version, docker-linux-arm64-dry-run, docker-linux-arm64-release-version, docker-linux-arm64-release-candidate-version, docker-linux-arm64-release, docker-manifest-version, docker-manifest

getValidateContext
  services/forms/user_form.go
Due: compliance, testing-pgsql, testing-mysql, testing-mysql8, testing-mssql, testing-sqlite, testing-e2e, release-latest, docker-linux-amd64-release-version, docker-linux-amd64-release-candidate-version, docker-linux-arm64-dry-run, docker-linux-arm64-release-version, docker-linux-arm64-release-candidate-version, docker-linux-arm64-release, docker-manifest-version, docker-manifest

Revert "Update for TestScript to Reduce RepoSize"
  modules/repository/create.go
  routers/private/hook_pre_receive.go
  services/repository/push.go
  tests/integration/git_test.go
Due: compliance, testing-pgsql, testing-mysql, testing-mysql8, testing-mssql, testing-sqlite, testing-e2e, release-latest, docker-linux-amd64-release-version, docker-linux-amd64-release-candidate-version, docker-linux-arm64-dry-run, docker-linux-arm64-release-version, docker-linux-arm64-release-candidate-version, docker-linux-arm64-release, docker-manifest-version, docker-manifest

translate some usage docs to zh-cn
  docs/content/doc/usage/agit-support.zh-cn.md
  docs/content/doc/usage/clone-filter.zh-cn.md
  docs/content/doc/usage/incoming-email.zh-cn.md
  docs/content/doc/usage/labels.zh-cn.md
  docs/content/doc/usage/linked-references.zh-cn.md
  docs/content/doc/usage/merge-message-templates.zh-cn.md
  docs/content/doc/usage/permissions.zh-cn.md
  docs/content/doc/usage/profile-readme.zh-cn.md
  docs/content/doc/usage/protected-tags.zh-cn.md
  docs/content/doc/usage/push.zh-cn.md
Due: compliance-docs, docs

Make environment-to-ini support loading key value from file (#24832)
  contrib/environment-to-ini/environment-to-ini.go
  docs/content/doc/installation/with-docker-rootless.en-us.md
  docs/content/doc/installation/with-docker.en-us.md
  modules/setting/config_env.go
  modules/setting/config_env_test.go
Due: compliance, testing-pgsql, compliance-docs, testing-mysql, testing-mysql8, testing-mssql, testing-sqlite, testing-e2e, release-latest, docs, docker-linux-amd64-release-version, docker-linux-amd64-release-candidate-version, docker-linux-arm64-dry-run, docker-linux-arm64-release-version, docker-linux-arm64-release-candidate-version, docker-linux-arm64-release, docker-manifest-version, docker-manifest

fix lint
  services/user/user.go
Due: compliance, testing-pgsql, testing-mysql, testing-mysql8, testing-mssql, testing-sqlite, testing-e2e, release-latest, docker-linux-amd64-release-version, docker-linux-amd64-release-candidate-version, docker-linux-arm64-dry-run, docker-linux-arm64-release-version, docker-linux-arm64-release-candidate-version, docker-linux-arm64-release, docker-manifest-version, docker-manifest

repo-mirror, secrets and template-repo
  docs/content/doc/usage/repo-mirror.zh-cn.md
  docs/content/doc/usage/secrets.zh-cn.md
  docs/content/doc/usage/template-repositories.zh-cn.md
Due: compliance-docs, docs

add tests
  services/mirror/mirror_pull_test.go
Due: compliance, testing-pgsql, testing-mysql, testing-mysql8, testing-mssql, testing-sqlite, testing-e2e, release-latest, docker-linux-amd64-release-version, docker-linux-amd64-release-candidate-version, docker-linux-arm64-dry-run, docker-linux-arm64-release-version, docker-linux-arm64-release-candidate-version, docker-linux-arm64-release, docker-manifest-version, docker-manifest

improve webhooks
  docs/content/doc/usage/webhooks.zh-cn.md
Due: compliance-docs, docs

copyright
  services/mirror/mirror_pull_test.go
Due: compliance, testing-pgsql, testing-mysql, testing-mysql8, testing-mssql, testing-sqlite, testing-e2e, release-latest, docker-linux-amd64-release-version, docker-linux-amd64-release-candidate-version, docker-linux-arm64-dry-run, docker-linux-arm64-release-version, docker-linux-arm64-release-candidate-version, docker-linux-arm64-release, docker-manifest-version, docker-manifest

Add ?
  web_src/js/components/DashboardRepoList.vue
Due: compliance, testing-pgsql, testing-mysql, testing-mysql8, testing-mssql, testing-sqlite, testing-e2e, release-latest, docker-linux-amd64-release-version, docker-linux-amd64-release-candidate-version, docker-linux-arm64-dry-run, docker-linux-arm64-release-version, docker-linux-arm64-release-candidate-version, docker-linux-arm64-release, docker-manifest-version, docker-manifest

Change page to the previous page to select the last repository
  web_src/js/components/DashboardRepoList.vue
Due: compliance, testing-pgsql, testing-mysql, testing-mysql8, testing-mssql, testing-sqlite, testing-e2e, release-latest, docker-linux-amd64-release-version, docker-linux-amd64-release-candidate-version, docker-linux-arm64-dry-run, docker-linux-arm64-release-version, docker-linux-arm64-release-candidate-version, docker-linux-arm64-release, docker-manifest-version, docker-manifest

fix
  modules/git/repo_language_stats.go
  modules/git/repo_language_stats_gogit.go
  modules/git/repo_language_stats_nogogit.go
  modules/git/repo_language_stats_test.go
  modules/log/logger_global.go
Due: compliance, testing-pgsql, testing-mysql, testing-mysql8, testing-mssql, testing-sqlite, testing-e2e, release-latest, docker-linux-amd64-release-version, docker-linux-amd64-release-candidate-version, docker-linux-arm64-dry-run, docker-linux-arm64-release-version, docker-linux-arm64-release-candidate-version, docker-linux-arm64-release, docker-manifest-version, docker-manifest

Fix can’t move anymore items in repo project boards (#24892)
  templates/repo/projects/view.tmpl
Due: compliance, testing-pgsql, testing-mysql, testing-mysql8, testing-mssql, testing-sqlite, testing-e2e, release-latest, docker-linux-amd64-release-version, docker-linux-amd64-release-candidate-version, docker-linux-arm64-dry-run, docker-linux-arm64-release-version, docker-linux-arm64-release-candidate-version, docker-linux-arm64-release, docker-manifest-version, docker-manifest

Rename docs packages title from xxx Packages Repository -> xxx Package Registry (#24895)
  docs/content/doc/usage/packages/alpine.en-us.md
  docs/content/doc/usage/packages/cargo.en-us.md
  docs/content/doc/usage/packages/chef.en-us.md
  docs/content/doc/usage/packages/composer.en-us.md
  docs/content/doc/usage/packages/conan.en-us.md
  docs/content/doc/usage/packages/conda.en-us.md
  docs/content/doc/usage/packages/cran.en-us.md
  docs/content/doc/usage/packages/debian.en-us.md
  docs/content/doc/usage/packages/generic.en-us.md
  docs/content/doc/usage/packages/go.en-us.md
  docs/content/doc/usage/packages/maven.en-us.md
  docs/content/doc/usage/packages/npm.en-us.md
  docs/content/doc/usage/packages/nuget.en-us.md
  docs/content/doc/usage/packages/pub.en-us.md
  docs/content/doc/usage/packages/pypi.en-us.md
  docs/content/doc/usage/packages/rpm.en-us.md
  docs/content/doc/usage/packages/rubygems.en-us.md
  docs/content/doc/usage/packages/swift.en-us.md
  docs/content/doc/usage/packages/vagrant.en-us.md
Due: compliance-docs, docs

add zh-cn for actions
  docs/content/doc/usage/actions/act-runner.en-us.md
  docs/content/doc/usage/actions/act-runner.zh-cn.md
  docs/content/doc/usage/actions/comparison.en-us.md
  docs/content/doc/usage/actions/comparison.zh-cn.md
  docs/content/doc/usage/actions/design.en-us.md
  docs/content/doc/usage/actions/design.zh-cn.md
  docs/content/doc/usage/actions/faq.en-us.md
  docs/content/doc/usage/actions/faq.zh-cn.md
  docs/content/doc/usage/actions/overview.en-us.md
  docs/content/doc/usage/actions/overview.zh-cn.md
  docs/content/doc/usage/actions/quickstart.en-us.md
  docs/content/doc/usage/actions/quickstart.zh-cn.md
Due: compliance-docs, docs

updates
  docs/content/doc/usage/actions/comparison.zh-cn.md
  docs/content/doc/usage/actions/design.zh-cn.md
  docs/content/doc/usage/actions/faq.zh-cn.md
Due: compliance-docs, docs

fix linr
  docs/content/doc/usage/actions/comparison.zh-cn.md
  docs/content/doc/usage/actions/design.zh-cn.md
Due: compliance-docs, docs

Add tests for validateUser
  models/user/user.go
  models/user/user_test.go
Due: compliance, testing-pgsql, testing-mysql, testing-mysql8, testing-mssql, testing-sqlite, testing-e2e, release-latest, docker-linux-amd64-release-version, docker-linux-amd64-release-candidate-version, docker-linux-arm64-dry-run, docker-linux-arm64-release-version, docker-linux-arm64-release-candidate-version, docker-linux-arm64-release, docker-manifest-version, docker-manifest

use make tidy to add licensecheck
  assets/go-licenses.json
  go.mod
Due: compliance, testing-pgsql, testing-mysql, testing-mysql8, testing-mssql, testing-sqlite, testing-e2e, release-latest, docker-linux-amd64-release-version, docker-linux-amd64-release-candidate-version, docker-linux-arm64-dry-run, docker-linux-arm64-release-version, docker-linux-arm64-release-candidate-version, docker-linux-arm64-release, docker-manifest-version, docker-manifest

use statistics in db
  models/repo/license.go
  models/repo/repo.go
  modules/context/repo.go
  modules/git/repo_license_gogit.go
  modules/git/repo_license_nogogit.go
  modules/git/repo_license_stats_test.go
  modules/indexer/stats/db.go
  routers/web/repo/view.go
  templates/repo/sub_menu.tmpl
Due: compliance, testing-pgsql, testing-mysql, testing-mysql8, testing-mssql, testing-sqlite, testing-e2e, release-latest, docker-linux-amd64-release-version, docker-linux-amd64-release-candidate-version, docker-linux-arm64-dry-run, docker-linux-arm64-release-version, docker-linux-arm64-release-candidate-version, docker-linux-arm64-release, docker-manifest-version, docker-manifest

Apply suggestions from code review
  .github/file-filters.yml
Due: compliance, testing-pgsql, testing-mysql, testing-mysql8, testing-mssql, testing-sqlite, testing-e2e, release-latest, docker-linux-amd64-release-version, docker-linux-amd64-release-candidate-version, docker-linux-arm64-dry-run, docker-linux-arm64-release-version, docker-linux-arm64-release-candidate-version, docker-linux-arm64-release, docker-manifest-version, docker-manifest

Only validate changed columns when update user (#24867)
  models/user/user.go
  models/user/user_test.go
Due: compliance, testing-pgsql, testing-mysql, testing-mysql8, testing-mssql, testing-sqlite, testing-e2e, release-latest, docker-linux-amd64-release-version, docker-linux-amd64-release-candidate-version, docker-linux-arm64-dry-run, docker-linux-arm64-release-version, docker-linux-arm64-release-candidate-version, docker-linux-arm64-release, docker-manifest-version, docker-manifest

zh-cn
  docs/content/doc/installation/database-preparation.zh-cn.md
  docs/content/doc/installation/from-binary.zh-cn.md
  docs/content/doc/installation/from-source.zh-cn.md
  docs/content/doc/installation/on-cloud-provider.zh-cn.md
  docs/content/doc/installation/on-kubernetes.zh-cn.md
  docs/content/doc/installation/with-docker-rootless.zh-cn.md
Due: compliance-docs, docs

lint
  docs/content/doc/installation/database-preparation.zh-cn.md
  docs/content/doc/installation/with-docker-rootless.zh-cn.md
Due: compliance-docs, docs

fix empty
  docs/content/doc/administration/config-cheat-sheet.en-us.md
Due: compliance-docs, docs

Use reuse workflow
  .github/file-filters.yml
  .github/workflows/files-changed.yml
  .github/workflows/pull-compliance-docs.yml
  .github/workflows/pull-compliance.yml
  .github/workflows/pull-db-tests.yml
  .github/workflows/pull-docker-dryrun.yml
  .github/workflows/pull-e2e-tests.yml
  Makefile
Due: compliance, testing-pgsql, testing-mysql, testing-mysql8, testing-mssql, testing-sqlite, testing-e2e, release-latest, docker-linux-amd64-release-version, docker-linux-amd64-release-candidate-version, docker-linux-arm64-dry-run, docker-linux-arm64-release-version, docker-linux-arm64-release-candidate-version, docker-linux-arm64-release, docker-manifest-version, docker-manifest

Fix import
  models/user/user_test.go
Due: compliance, testing-pgsql, testing-mysql, testing-mysql8, testing-mssql, testing-sqlite, testing-e2e, release-latest, docker-linux-amd64-release-version, docker-linux-amd64-release-candidate-version, docker-linux-arm64-dry-run, docker-linux-arm64-release-version, docker-linux-arm64-release-candidate-version, docker-linux-arm64-release, docker-manifest-version, docker-manifest

Only validate changed columns when update user (#24867) (#24903)
  models/user/user.go
  models/user/user_test.go
Due: compliance, testing-pgsql, testing-mysql, testing-mysql8, testing-mssql, testing-sqlite, testing-e2e, release-latest, docker-linux-amd64-release-version, docker-linux-amd64-release-candidate-version, docker-linux-arm64-dry-run, docker-linux-arm64-release-version, docker-linux-arm64-release-candidate-version, docker-linux-arm64-release, docker-manifest-version, docker-manifest

Fix <empty> in administration/config-cheat-sheet.en-us.md (#24905)
  docs/content/doc/administration/config-cheat-sheet.en-us.md
Due: compliance-docs, docs

Improve Actions CSS (#24864)
  web_src/css/base.css
  web_src/css/themes/theme-arc-green.css
  web_src/js/components/RepoActionView.vue
Due: compliance, testing-pgsql, testing-mysql, testing-mysql8, testing-mssql, testing-sqlite, testing-e2e, release-latest, docker-linux-amd64-release-version, docker-linux-amd64-release-candidate-version, docker-linux-arm64-dry-run, docker-linux-arm64-release-version, docker-linux-arm64-release-candidate-version, docker-linux-arm64-release, docker-manifest-version, docker-manifest

some
  docs/content/doc/usage/packages/alpine.en-us.md
  docs/content/doc/usage/packages/alpine.zh-cn.md
  docs/content/doc/usage/packages/cargo.zh-cn.md
  docs/content/doc/usage/packages/chef.zh-cn.md
  docs/content/doc/usage/packages/composer.zh-cn.md
  docs/content/doc/usage/packages/conan.zh-cn.md
  docs/content/doc/usage/packages/conda.zh-cn.md
  docs/content/doc/usage/packages/container.zh-cn.md
  docs/content/doc/usage/packages/debian.zh-cn.md
Due: compliance-docs, docs

Hiding Secrets options when Actions feature is disabled (#24792)
  routers/web/web.go
  templates/org/settings/navbar.tmpl
  templates/repo/settings/nav.tmpl
  templates/repo/settings/navbar.tmpl
  templates/user/settings/navbar.tmpl
Due: compliance, testing-pgsql, testing-mysql, testing-mysql8, testing-mssql, testing-sqlite, testing-e2e, release-latest, docker-linux-amd64-release-version, docker-linux-amd64-release-candidate-version, docker-linux-arm64-dry-run, docker-linux-arm64-release-version, docker-linux-arm64-release-candidate-version, docker-linux-arm64-release, docker-manifest-version, docker-manifest

some
  docs/content/doc/usage/packages/debian.zh-cn.md
  docs/content/doc/usage/packages/generic.zh-cn.md
  docs/content/doc/usage/packages/go.zh-cn.md
  docs/content/doc/usage/packages/helm.zh-cn.md
  docs/content/doc/usage/packages/maven.zh-cn.md
Due: compliance-docs, docs

maven
  docs/content/doc/usage/packages/maven.zh-cn.md
Due: compliance-docs, docs

save change
  web_src/js/components/RepoActionView.vue
Due: compliance, testing-pgsql, testing-mysql, testing-mysql8, testing-mssql, testing-sqlite, testing-e2e, release-latest, docker-linux-amd64-release-version, docker-linux-amd64-release-candidate-version, docker-linux-arm64-dry-run, docker-linux-arm64-release-version, docker-linux-arm64-release-candidate-version, docker-linux-arm64-release, docker-manifest-version, docker-manifest

save
  web_src/css/themes/theme-enterprise-auto.css
  web_src/css/themes/theme-enterprise-dark.css
Due: compliance, testing-pgsql, testing-mysql, testing-mysql8, testing-mssql, testing-sqlite, testing-e2e, release-latest, docker-linux-amd64-release-version, docker-linux-amd64-release-candidate-version, docker-linux-arm64-dry-run, docker-linux-arm64-release-version, docker-linux-arm64-release-candidate-version, docker-linux-arm64-release, docker-manifest-version, docker-manifest
