Repository go-gitea/gitea: changes, and which Drone steps are due for each by the changed paths.
All: compliance, testing-pgsql, compliance-docs, testing-mysql, testing-mysql8, testing-mssql, testing-sqlite, testing-e2e, release-latest, docs, docker-linux-amd64-release-version, docker-linux-amd64-release-candidate-version, docker-linux-arm64-dry-run, docker-linux-arm64-release-version, docker-linux-arm64-release-candidate-version, docker-linux-arm64-release, docker-manifest-version, docker-manifest

Path conditions:
  compliance: any file but: docs/**, *.md
  testing-pgsql: any file but: docs/**
  compliance-docs: any of: docs/**, *.md
  testing-mysql: any file but: docs/**
  testing-mysql8: any file but: docs/**
  testing-mssql: any file but: docs/**
  testing-sqlite: any file but: docs/**
  testing-e2e: any file but: docs/**
  release-latest: any file but: docs/**
  docs: any of: docs/**
  docker-linux-amd64-release-version: any file but: docs/**
  docker-linux-amd64-release-candidate-version: any file but: docs/**
  docker-linux-arm64-dry-run: any file but: docs/**
  docker-linux-arm64-release-version: any file but: docs/**
  docker-linux-arm64-release-candidate-version: any file but: docs/**
  docker-linux-arm64-release: any file but: docs/**
  docker-manifest-version: any file but: docs/**
  docker-manifest: any file but: docs/**

New webhook trigger for receiving Pull Request review requests (#24481)
  models/issues/pull.go
  models/issues/pull_test.go
  models/issues/review.go
  models/issues/review_test.go
  models/user/user.go
  models/webhook/webhook.go
  models/webhook/webhook_test.go
  modules/structs/hook.go
  modules/structs/pull.go
  modules/webhook/structs.go
  modules/webhook/type.go
  options/locale/locale_en-US.ini
  routers/api/v1/utils/hook.go
  routers/web/repo/issue.go
  routers/web/repo/webhook.go
  services/convert/pull.go
  services/forms/repo_form.go
  services/webhook/notifier.go
  services/webhook/payloader.go
  templates/repo/settings/webhook/settings.tmpl
  templates/swagger/v1_json.tmpl
Due: compliance, testing-pgsql, testing-mysql, testing-mysql8, testing-mssql, testing-sqlite, testing-e2e, release-latest, docker-linux-amd64-release-version, docker-linux-amd64-release-candidate-version, docker-linux-arm64-dry-run, docker-linux-arm64-release-version, docker-linux-arm64-release-candidate-version, docker-linux-arm64-release, docker-manifest-version, docker-manifest

fix
  docs/content/doc/usage/packages/alpine.zh-cn.md
  docs/content/doc/usage/packages/cargo.zh-cn.md
  docs/content/doc/usage/packages/chef.zh-cn.md
  docs/content/doc/usage/packages/composer.zh-cn.md
  docs/content/doc/usage/packages/conan.zh-cn.md
  docs/content/doc/usage/packages/conda.zh-cn.md
  docs/content/doc/usage/packages/debian.zh-cn.md
  docs/content/doc/usage/packages/generic.zh-cn.md
  docs/content/doc/usage/packages/go.zh-cn.md
  docs/content/doc/usage/packages/npm.zh-cn.md
  docs/content/doc/usage/packages/nuget.zh-cn.md
  docs/content/doc/usage/packages/overview.zh-cn.md
  docs/content/doc/usage/packages/pub.zh-cn.md
  docs/content/doc/usage/packages/pypi.zh-cn.md
  docs/content/doc/usage/packages/rubygems.zh-cn.md
  docs/content/doc/usage/packages/storage.zh-cn.md
  docs/content/doc/usage/packages/swift.zh-cn.md
Due: compliance-docs, docs

Merge different languages for language stats (#24900)
  modules/git/repo_language_stats.go
  modules/git/repo_language_stats_gogit.go
  modules/git/repo_language_stats_nogogit.go
  modules/git/repo_language_stats_test.go
Due: compliance, testing-pgsql, testing-mysql, testing-mysql8, testing-mssql, testing-sqlite, testing-e2e, release-latest, docker-linux-amd64-release-version, docker-linux-amd64-release-candidate-version, docker-linux-arm64-dry-run, docker-linux-arm64-release-version, docker-linux-arm64-release-candidate-version, docker-linux-arm64-release, docker-manifest-version, docker-manifest

Rework notifications list (#24812)
  templates/repo/branch/list.tmpl
  templates/repo/view_list.tmpl
  templates/shared/issueicon.tmpl
  templates/shared/issuelist.tmpl
  templates/user/notification/notification_div.tmpl
  web_src/css/base.css
  web_src/css/helpers.css
  web_src/css/user.css
  web_src/js/features/notification.js
Due: compliance, testing-pgsql, testing-mysql, testing-mysql8, testing-mssql, testing-sqlite, testing-e2e, release-latest, docker-linux-amd64-release-version, docker-linux-amd64-release-candidate-version, docker-linux-arm64-dry-run, docker-linux-arm64-release-version, docker-linux-arm64-release-candidate-version, docker-linux-arm64-release, docker-manifest-version, docker-manifest

improve tests
  modules/queue/base_levelqueue_test.go
Due: compliance, testing-pgsql, testing-mysql, testing-mysql8, testing-mssql, testing-sqlite, testing-e2e, release-latest, docker-linux-amd64-release-version, docker-linux-amd64-release-candidate-version, docker-linux-arm64-dry-run, docker-linux-arm64-release-version, docker-linux-arm64-release-candidate-version, docker-linux-arm64-release, docker-manifest-version, docker-manifest

use runner
  docs/content/doc/usage/actions/act-runner.zh-cn.md
  docs/content/doc/usage/actions/design.zh-cn.md
  docs/content/doc/usage/actions/faq.zh-cn.md
  docs/content/doc/usage/actions/overview.zh-cn.md
  docs/content/doc/usage/actions/quickstart.zh-cn.md
Due: compliance-docs, docs

change to job
  docs/content/doc/usage/actions/act-runner.zh-cn.md
  docs/content/doc/usage/actions/comparison.zh-cn.md
  docs/content/doc/usage/actions/design.zh-cn.md
  docs/content/doc/usage/actions/faq.zh-cn.md
  docs/content/doc/usage/actions/overview.zh-cn.md
  docs/content/doc/usage/actions/quickstart.zh-cn.md
Due: compliance-docs, docs

Add chinese documentations for `Packages` (#24914)
  docs/content/doc/usage/packages/alpine.en-us.md
  docs/content/doc/usage/packages/alpine.zh-cn.md
  docs/content/doc/usage/packages/cargo.zh-cn.md
  docs/content/doc/usage/packages/chef.zh-cn.md
  docs/content/doc/usage/packages/composer.zh-cn.md
  docs/content/doc/usage/packages/conan.zh-cn.md
  docs/content/doc/usage/packages/conda.zh-cn.md
  docs/content/doc/usage/packages/container.zh-cn.md
  docs/content/doc/usage/packages/debian.en-us.md
  docs/content/doc/usage/packages/debian.zh-cn.md
  docs/content/doc/usage/packages/generic.zh-cn.md
  docs/content/doc/usage/packages/go.zh-cn.md
  docs/content/doc/usage/packages/helm.zh-cn.md
  docs/content/doc/usage/packages/maven.zh-cn.md
  docs/content/doc/usage/packages/npm.zh-cn.md
  docs/content/doc/usage/packages/nuget.zh-cn.md
  docs/content/doc/usage/packages/overview.zh-cn.md
  docs/content/doc/usage/packages/pub.zh-cn.md
  docs/content/doc/usage/packages/pypi.zh-cn.md
  docs/content/doc/usage/packages/rpm.en-us.md
  docs/content/doc/usage/packages/rpm.zh-cn.md
  docs/content/doc/usage/packages/rubygems.zh-cn.md
  docs/content/doc/usage/packages/storage.en-us.md
  docs/content/doc/usage/packages/storage.zh-cn.md
  docs/content/doc/usage/packages/swift.zh-cn.md
  docs/content/doc/usage/packages/vagrant.zh-cn.md
Due: compliance-docs, docs

Improve RunMode / dev mode (#24886)
  custom/conf/app.example.ini
  docs/content/doc/administration/config-cheat-sheet.en-us.md
  modules/setting/setting.go
  modules/templates/htmlrenderer.go
  modules/templates/mailer.go
Due: compliance, testing-pgsql, compliance-docs, testing-mysql, testing-mysql8, testing-mssql, testing-sqlite, testing-e2e, release-latest, docs, docker-linux-amd64-release-version, docker-linux-amd64-release-candidate-version, docker-linux-arm64-dry-run, docker-linux-arm64-release-version, docker-linux-arm64-release-candidate-version, docker-linux-arm64-release, docker-manifest-version, docker-manifest

change daemon
  docs/content/doc/usage/actions/act-runner.zh-cn.md
  docs/content/doc/usage/actions/quickstart.zh-cn.md
Due: compliance-docs, docs

Add chinese documentations for installation (#24904)
  docs/content/doc/installation/database-preparation.zh-cn.md
  docs/content/doc/installation/from-binary.zh-cn.md
  docs/content/doc/installation/from-source.zh-cn.md
  docs/content/doc/installation/on-cloud-provider.zh-cn.md
  docs/content/doc/installation/on-kubernetes.zh-cn.md
  docs/content/doc/installation/with-docker-rootless.zh-cn.md
Due: compliance-docs, docs

`zh-cn` translation for usage docs (#24897)
  docs/content/doc/usage/agit-support.zh-cn.md
  docs/content/doc/usage/clone-filter.zh-cn.md
  docs/content/doc/usage/incoming-email.zh-cn.md
  docs/content/doc/usage/labels.zh-cn.md
  docs/content/doc/usage/linked-references.zh-cn.md
  docs/content/doc/usage/merge-message-templates.zh-cn.md
  docs/content/doc/usage/permissions.zh-cn.md
  docs/content/doc/usage/profile-readme.zh-cn.md
  docs/content/doc/usage/protected-tags.zh-cn.md
  docs/content/doc/usage/push.zh-cn.md
  docs/content/doc/usage/repo-mirror.zh-cn.md
  docs/content/doc/usage/secrets.zh-cn.md
  docs/content/doc/usage/template-repositories.zh-cn.md
  docs/content/doc/usage/webhooks.zh-cn.md
Due: compliance-docs, docs

improve
  models/user/user.go
  services/convert/user.go
Due: compliance, testing-pgsql, testing-mysql, testing-mysql8, testing-mssql, testing-sqlite, testing-e2e, release-latest, docker-linux-amd64-release-version, docker-linux-amd64-release-candidate-version, docker-linux-arm64-dry-run, docker-linux-arm64-release-version, docker-linux-arm64-release-candidate-version, docker-linux-arm64-release, docker-manifest-version, docker-manifest

fix comment
  models/user/user.go
Due: compliance, testing-pgsql, testing-mysql, testing-mysql8, testing-mssql, testing-sqlite, testing-e2e, release-latest, docker-linux-amd64-release-version, docker-linux-amd64-release-candidate-version, docker-linux-arm64-dry-run, docker-linux-arm64-release-version, docker-linux-arm64-release-candidate-version, docker-linux-arm64-release, docker-manifest-version, docker-manifest

Merge different languages for language stats (#24900) (#24921)
  modules/git/repo_language_stats.go
  modules/git/repo_language_stats_gogit.go
  modules/git/repo_language_stats_nogogit.go
  modules/git/repo_language_stats_test.go
Due: compliance, testing-pgsql, testing-mysql, testing-mysql8, testing-mssql, testing-sqlite, testing-e2e, release-latest, docker-linux-amd64-release-version, docker-linux-amd64-release-candidate-version, docker-linux-arm64-dry-run, docker-linux-arm64-release-version, docker-linux-arm64-release-candidate-version, docker-linux-arm64-release, docker-manifest-version, docker-manifest

update license when create a repo
  modules/repository/create.go
  modules/repository/license.go
  routers/private/hook_post_receive.go
  templates/repo/sub_menu.tmpl
Due: compliance, testing-pgsql, testing-mysql, testing-mysql8, testing-mssql, testing-sqlite, testing-e2e, release-latest, docker-linux-amd64-release-version, docker-linux-amd64-release-candidate-version, docker-linux-arm64-dry-run, docker-linux-arm64-release-version, docker-linux-arm64-release-candidate-version, docker-linux-arm64-release, docker-manifest-version, docker-manifest

Add Chinese documentations for Actions (#24902)
  docs/content/doc/usage/actions/act-runner.en-us.md
  docs/content/doc/usage/actions/act-runner.zh-cn.md
  docs/content/doc/usage/actions/comparison.en-us.md
  docs/content/doc/usage/actions/comparison.zh-cn.md
  docs/content/doc/usage/actions/design.en-us.md
  docs/content/doc/usage/actions/design.zh-cn.md
  docs/content/doc/usage/actions/faq.en-us.md
  docs/content/doc/usage/actions/faq.zh-cn.md
  docs/content/doc/usage/actions/overview.en-us.md
  docs/content/doc/usage/actions/overview.zh-cn.md
  docs/content/doc/usage/actions/quickstart.en-us.md
  docs/content/doc/usage/actions/quickstart.zh-cn.md
Due: compliance-docs, docs

add todo
  routers/private/hook_post_receive.go
Due: compliance, testing-pgsql, testing-mysql, testing-mysql8, testing-mssql, testing-sqlite, testing-e2e, release-latest, docker-linux-amd64-release-version, docker-linux-amd64-release-candidate-version, docker-linux-arm64-dry-run, docker-linux-arm64-release-version, docker-linux-arm64-release-candidate-version, docker-linux-arm64-release, docker-manifest-version, docker-manifest

add license to fork repo
  services/repository/fork.go
Due: compliance, testing-pgsql, testing-mysql, testing-mysql8, testing-mssql, testing-sqlite, testing-e2e, release-latest, docker-linux-amd64-release-version, docker-linux-amd64-release-candidate-version, docker-linux-arm64-dry-run, docker-linux-arm64-release-version, docker-linux-arm64-release-candidate-version, docker-linux-arm64-release, docker-manifest-version, docker-manifest

fix lint
  modules/repository/license.go
Due: compliance, testing-pgsql, testing-mysql, testing-mysql8, testing-mssql, testing-sqlite, testing-e2e, release-latest, docker-linux-amd64-release-version, docker-linux-amd64-release-candidate-version, docker-linux-arm64-dry-run, docker-linux-arm64-release-version, docker-linux-arm64-release-candidate-version, docker-linux-arm64-release, docker-manifest-version, docker-manifest

add license to mirror repo
  modules/repository/license.go
  modules/repository/repo.go
  routers/private/hook_post_receive.go
Due: compliance, testing-pgsql, testing-mysql, testing-mysql8, testing-mssql, testing-sqlite, testing-e2e, release-latest, docker-linux-amd64-release-version, docker-linux-amd64-release-candidate-version, docker-linux-arm64-dry-run, docker-linux-arm64-release-version, docker-linux-arm64-release-candidate-version, docker-linux-arm64-release, docker-manifest-version, docker-manifest

Use `shared/issueicon` template in projects
  templates/projects/view.tmpl
  templates/repo/projects/view.tmpl
Due: compliance, testing-pgsql, testing-mysql, testing-mysql8, testing-mssql, testing-sqlite, testing-e2e, release-latest, docker-linux-amd64-release-version, docker-linux-amd64-release-candidate-version, docker-linux-arm64-dry-run, docker-linux-arm64-release-version, docker-linux-arm64-release-candidate-version, docker-linux-arm64-release, docker-manifest-version, docker-manifest

move findFileInEntries to repo modules
  modules/repository/file.go
  modules/repository/file_test.go
  modules/repository/license_test.go
  modules/util/path.go
  routers/web/repo/view.go
Due: compliance, testing-pgsql, testing-mysql, testing-mysql8, testing-mssql, testing-sqlite, testing-e2e, release-latest, docker-linux-amd64-release-version, docker-linux-amd64-release-candidate-version, docker-linux-arm64-dry-run, docker-linux-arm64-release-version, docker-linux-arm64-release-candidate-version, docker-linux-arm64-release, docker-manifest-version, docker-manifest

update license when sync mirror repo
  services/mirror/mirror_pull.go
Due: compliance, testing-pgsql, testing-mysql, testing-mysql8, testing-mssql, testing-sqlite, testing-e2e, release-latest, docker-linux-amd64-release-version, docker-linux-amd64-release-candidate-version, docker-linux-arm64-dry-run, docker-linux-arm64-release-version, docker-linux-arm64-release-candidate-version, docker-linux-arm64-release, docker-manifest-version, docker-manifest

support search license file
  modules/repository/license.go
Due: compliance, testing-pgsql, testing-mysql, testing-mysql8, testing-mssql, testing-sqlite, testing-e2e, release-latest, docker-linux-amd64-release-version, docker-linux-amd64-release-candidate-version, docker-linux-arm64-dry-run, docker-linux-arm64-release-version, docker-linux-arm64-release-candidate-version, docker-linux-arm64-release, docker-manifest-version, docker-manifest

imporve debug info
  modules/repository/file.go
Due: compliance, testing-pgsql, testing-mysql, testing-mysql8, testing-mssql, testing-sqlite, testing-e2e, release-latest, docker-linux-amd64-release-version, docker-linux-amd64-release-candidate-version, docker-linux-arm64-dry-run, docker-linux-arm64-release-version, docker-linux-arm64-release-candidate-version, docker-linux-arm64-release, docker-manifest-version, docker-manifest

Fixes
  services/pull/pull.go
Due: compliance, testing-pgsql, testing-mysql, testing-mysql8, testing-mssql, testing-sqlite, testing-e2e, release-latest, docker-linux-amd64-release-version, docker-linux-amd64-release-candidate-version, docker-linux-arm64-dry-run, docker-linux-arm64-release-version, docker-linux-arm64-release-candidate-version, docker-linux-arm64-release, docker-manifest-version, docker-manifest

Allow skipping forks and mirrors from being indexed (#23187)
  custom/conf/app.example.ini
  docs/content/doc/administration/config-cheat-sheet.en-us.md
  modules/indexer/code/indexer.go
  modules/setting/indexer.go
Due: compliance, testing-pgsql, compliance-docs, testing-mysql, testing-mysql8, testing-mssql, testing-sqlite, testing-e2e, release-latest, docs, docker-linux-amd64-release-version, docker-linux-amd64-release-candidate-version, docker-linux-arm64-dry-run, docker-linux-arm64-release-version, docker-linux-arm64-release-candidate-version, docker-linux-arm64-release, docker-manifest-version, docker-manifest

fix test
  modules/repository/file.go
  modules/repository/license.go
  modules/util/path.go
  routers/web/repo/view.go
Due: compliance, testing-pgsql, testing-mysql, testing-mysql8, testing-mssql, testing-sqlite, testing-e2e, release-latest, docker-linux-amd64-release-version, docker-linux-amd64-release-candidate-version, docker-linux-arm64-dry-run, docker-linux-arm64-release-version, docker-linux-arm64-release-candidate-version, docker-linux-arm64-release, docker-manifest-version, docker-manifest

fix test
  modules/repository/file_test.go
  routers/web/repo/view_test.go
Due: compliance, testing-pgsql, testing-mysql, testing-mysql8, testing-mssql, testing-sqlite, testing-e2e, release-latest, docker-linux-amd64-release-version, docker-linux-amd64-release-candidate-version, docker-linux-arm64-dry-run, docker-linux-arm64-release-version, docker-linux-arm64-release-candidate-version, docker-linux-arm64-release, docker-manifest-version, docker-manifest

add docs
  docs/content/doc/contributing/guidelines-backend.en-us.md
  docs/content/doc/contributing/guidelines-backend.zh-cn.md
  docs/content/doc/contributing/guidelines-frontend.zh-cn.md
  docs/content/doc/contributing/guidelines-refactoring.zh-cn.md
  docs/content/doc/contributing/translation.zh-cn.md
  docs/content/doc/development/integrations.zh-cn.md
  docs/content/doc/development/migrations.zh-cn.md
  docs/content/doc/help/faq.zh-cn.md
Due: compliance-docs, docs

modify
  docs/content/doc/help/faq.zh-cn.md
Due: compliance-docs, docs

modify
  docs/content/doc/contributing/guidelines-backend.zh-cn.md
Due: compliance-docs, docs

fix
  modules/graceful/context.go
  modules/graceful/manager.go
  modules/graceful/manager_unix.go
  modules/graceful/manager_windows.go
  modules/indexer/code/indexer.go
  modules/indexer/issues/indexer.go
  modules/indexer/stats/queue.go
  modules/log/event_writer_base.go
  modules/log/event_writer_conn_test.go
  modules/log/init.go
  modules/log/logger_impl.go
  modules/log/logger_test.go
  modules/log/manager.go
  modules/mirror/mirror.go
  modules/notification/ui/ui.go
  modules/queue/manager.go
  modules/queue/manager_test.go
  modules/queue/workergroup.go
  modules/queue/workerqueue.go
  modules/queue/workerqueue_test.go
  routers/web/admin/queue_tester.go
  services/actions/init.go
  services/automerge/automerge.go
  services/mailer/mailer.go
  services/pull/check.go
  services/pull/check_test.go
  services/repository/archiver/archiver.go
  services/repository/push.go
  services/task/task.go
  services/webhook/deliver.go
Due: compliance, testing-pgsql, testing-mysql, testing-mysql8, testing-mssql, testing-sqlite, testing-e2e, release-latest, docker-linux-amd64-release-version, docker-linux-amd64-release-candidate-version, docker-linux-arm64-dry-run, docker-linux-arm64-release-version, docker-linux-arm64-release-candidate-version, docker-linux-arm64-release, docker-manifest-version, docker-manifest

Add branch prefix to mirror synced push results
  services/mirror/mirror_pull.go
Due: compliance, testing-pgsql, testing-mysql, testing-mysql8, testing-mssql, testing-sqlite, testing-e2e, release-latest, docker-linux-amd64-release-version, docker-linux-amd64-release-candidate-version, docker-linux-arm64-dry-run, docker-linux-arm64-release-version, docker-linux-arm64-release-candidate-version, docker-linux-arm64-release, docker-manifest-version, docker-manifest

use relative-time
  web_src/js/components/RepoActionView.vue
Due: compliance, testing-pgsql, testing-mysql, testing-mysql8, testing-mssql, testing-sqlite, testing-e2e, release-latest, docker-linux-amd64-release-version, docker-linux-amd64-release-candidate-version, docker-linux-arm64-dry-run, docker-linux-arm64-release-version, docker-linux-arm64-release-candidate-version, docker-linux-arm64-release, docker-manifest-version, docker-manifest

fix
  modules/repository/license.go
Due: compliance, testing-pgsql, testing-mysql, testing-mysql8, testing-mssql, testing-sqlite, testing-e2e, release-latest, docker-linux-amd64-release-version, docker-linux-amd64-release-candidate-version, docker-linux-arm64-dry-run, docker-linux-arm64-release-version, docker-linux-arm64-release-candidate-version, docker-linux-arm64-release, docker-manifest-version, docker-manifest

revert
  web_src/js/components/RepoActionView.vue
  web_src/js/utils.js
Due: compliance, testing-pgsql, testing-mysql, testing-mysql8, testing-mssql, testing-sqlite, testing-e2e, release-latest, docker-linux-amd64-release-version, docker-linux-amd64-release-candidate-version, docker-linux-arm64-dry-run, docker-linux-arm64-release-version, docker-linux-arm64-release-candidate-version, docker-linux-arm64-release, docker-manifest-version, docker-manifest

Fix doc
  docs/content/doc/usage/code-owners.en-us.md
Due: compliance-docs, docs
